 /* When the screen is less than 600 pixels wide */
 /* @media screen and (max-width: 600px) {
	#aboutme{
		margin-top: 0%;
	}
} */

@media screen and (max-width: 768px) {
	
	/*breakpoint*/
	/* .container {
	  grid-template-columns: none;
	} */
	.astro{
		font-size: 80%;
	}

	.name{
		font-size: 2em;
	}

}

html{
	background-color: #071d24;
	scroll-behavior: smooth;
	height: 100%;
}


body{
	min-height: 100%;
	margin: 0px;
}


.nodecor{
	text-decoration: none;
}
/* body.active{
	overflow:hidden;
	z-index:-1
} */

#main{
	min-height: 100%;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1.5fr; /*fraction*/
  }
  
.section {
	/* border: 1px solid; */
	padding: 100px;	
}
  

.astro{
	color: #5eaeb1;
	padding: 170px 20px 0px 20px;
}

.penico{
	color: #5eaeb1;
	padding: 70px 20px 0px 20px;
}

.icon{
	/* margin: 30px 40px; */
	color: #2c5c61;
	font-size: 150%;
	padding-left: 20px;
	padding-right: 20px;
}

.iconbar{
	padding: 10px 10px 10px 10px;
}

.icon:hover{
	color: #307672;
	transform: scale(1.2);
}

.name{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 2.75em;
	text-align: center;
	color: #6ac2c5;
	letter-spacing: 1.25px;
	/* width: 60%;
	border-radius: 20px;
	background-color: #004a7c;*/
	padding: 30px 20px 0px 20px;
	/* box-shadow: 1em; */
}

.about{
	/* position: fixed; */
	left: 0;
	right: 0;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.20em;
	/* text-align: left; */
	color: #5ea4a7;
	/* padding: 70px 20px 30px 20px; */
}



.foot{
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
	font-family: 'Zilla Slab', serif;
	font-size: 1em;
	color: #071d24; 
	background-color: #5ea4a7;
	text-align: center;
	/* height: 2em; */
	padding-top: 1em;
	padding-bottom: 1em;
}

.foot a{
	text-decoration: none;
}