 /* When the screen is less than 600 pixels wide */
 /* @media screen and (max-width: 600px) {
	#aboutme{
		margin-top: 0%;
	}
} */

@media screen and (max-width: 768px) {
	
	/*breakpoint*/
	/* .container {
	  grid-template-columns: none;
	} */
	.astro{
		font-size: 80%;
	}

	.name{
		font-size: 2em;
	}

	.para{
		margin-left: 30px;
	}

}

html{
	/* background-color: #071d24; */
	background-color: #0c2131;
	scroll-behavior: smooth;
	height: 100%;
}


body{
	/* min-height: 100%; */
	margin: 0px;
	margin-bottom: 30px;
}

hr{
	color: #0a91ab;
}

.nodecor{
	text-decoration: none;
}
/* body.active{
	overflow:hidden;
	z-index:-1
} */

#main{
	min-height: 100%;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1.5fr; /*fraction*/
  }
  
.section {
	/* border: 1px solid; */
	padding: 100px;	
}
  

.astro{
	color: #0a91ab;
	margin-top: 170px;
	padding: 0px 20px 0px 20px;
}

.astro:hover{
	color: #e7bf6f;
	transform: scale(1.02);
	transition: 0.05s;
}

.ninja{
	color: #0a91ab;
	padding: 30px 20px 0px 20px;
}

.keyboard{
	color: #0a91ab !important;
	padding: 80px 20px 0px 20px;
}

.emailicon{
	color: #0a91ab !important;
	padding: 50px 20px 0px 20px;
}

.blogicon{
	color: #0a91ab;
	font-size: 250%;
	margin-right: 5px;
}

.blogicon:hover{
	color: #e7bf6f;
	transform: scale(1.05);
}

.icon{
	/* margin: 30px 40px; */
	color: #0a91ab;
	font-size: 150%;
	padding-left: 20px;
	padding-right: 20px;
}

.iconbar{
	padding: 10px 10px 10px 10px;
}

.icon:hover{
	color: #e7bf6f;
	transform: scale(1.2);
}

.bighead{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 2.75em;
	text-align: center;
	color: #0a91ab;
	letter-spacing: 1.25px;
	/* width: 60%;
	border-radius: 20px;
	background-color: #004a7c;*/
	padding: 30px 20px 0px 20px;
	/* box-shadow: 1em; */
}

.about{
	/* position: fixed; */
	left: 0;
	right: 0;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.20em;
	/* text-align: left; */
	color: #0a91ab;
	/* padding: 70px 20px 30px 20px; */
}

.content{
	left: 0;
	right: 0;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.075em;
	/* text-align: left; */
	color: #0a91ab;
	/* padding: 70px 20px 30px 20px; */
}

.para{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1em;
	text-align: left;
	color: #0a91ab;
	margin-left: 300px;
}

/* .foot{
	position: fixed;
	margin-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
	font-family: 'Zilla Slab', serif;
	font-size: 1em;
	color: #071d24; 
	background-color: #5ea4a7;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
} */

.foot {
	width: 100%;
	bottom: 0;
	font-family: 'Zilla Slab', serif;
	font-size: 1em;
	color: #071d24; 
	background-color: #0a91ab;
	text-align: center;
	padding: 15px 0px 15px 0px;
	/* height: 2em; */
	left: 0;
	position: fixed;
	/* font-size: small; */
	/* width:100%; */
}

.bottomspace{
	padding-bottom: 50px;
}

/* .foot {
    background:#ffffff;
    bottom:0px;
    margin-top:10px;
    left:0;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    color:#666666;
    text-align: center;
} */

.foot a{
	text-decoration: none;
}