{# {% include 'footer.njk' %} #}

    {# <section class="base-footer">
      <div class="taglist irevamp-mx-auto irevamp-mb-md">
        <a class="taglist-tag social-icon" href="https://webring.xxiivv.com/#parth-shiralkar" target="_blank">
          <img src="https://webring.xxiivv.com/icon.white.svg" alt="XXIIVV webring"/>
        </a>
        <a class="taglist-tag social-icon" href="https://goodreads.com" target="_blank">
          <img src="/img/face.png" alt="Goodreads"/>
        </a>
        <a class="taglist-tag social-icon" href="https://goodreads.com" target="_blank">
          <img src="/img/crane.png" alt="Goodreads"/>
        </a>
      </div>
    </section> #}