<footer>
  <div class="irevamp-sitenav__container irevamp-ink--primary irevamp-text-align-center">
    <ul
      role="list" class="irevamp-sitenav__navlist irevamp-sitenav__footer irevamp-list-unstyled">
      {# {% for link in collections.pages %}
            <li>
              <a
                {% if currentUrl === link.url %}aria-current="page"{% endif %}
                href="{{ link.url }}">
                  {{ link.data.title }}
              </a>
            </li>
            {%- endfor %} #}
      <li>
        <a class="underline" href="/colophon">Colophon</a>
      </li>
      <li>
        <a class="underline" href="/hello">Hello</a>
      </li>
      <li>
        <a class="underline" href="#">Go to top</a>
      </li>
      <li>
        <a class="underline" href="/feed.xml">RSS</a>
      </li>
      <li><a class="nolink" href="https://github.com/partheus/partheus.github.io/blob/master/LICENSE.txt" target="_blank">© 2022 - Parth Shiralkar</a></li>
      {# <li>
        <div class="theme-switch-wrapper">
          <label class="theme-switch" for="checkbox">
            <input disabled type="checkbox" id="checkbox" alt="Disabled"/>
            <div class="slider round"></div>
          </label>
        </div>
      </li> #}
    </ul>
  </div>
</footer>
<script>
  const currentTheme = localStorage.getItem('theme');
    if (currentTheme) {
      document.documentElement.setAttribute('data-theme', currentTheme);
    }

  function switchTheme(e) {
    var selectTheme = document.getElementById("theme-switcher").value;

    switch(selectTheme ) {

    case "gemstone":
      document.documentElement.setAttribute('data-theme', 'gemstone');
      localStorage.setItem('theme', 'gemstone');    
      break;
    
    case "maroon":
      document.documentElement.setAttribute('data-theme', 'maroon');
      localStorage.setItem('theme', 'maroon');    
      break;
  
    case "jackdaw":
      document.documentElement.setAttribute('data-theme', 'jackdaw');
      localStorage.setItem('theme', 'jackdaw');    
      break;
    
    default:
      document.documentElement.setAttribute('data-theme', 'noir');
      localStorage.setItem('theme', 'noir');        
      break;              
    }
  }
</script>