<div class="irevamp-container">
<div class="irevamp-section goodreads slide-up">

<!-- > <a href="https://www.goodreads.com/review/list/60162168-parth-shiralkar?ref=nav_mybooks&shelf=currently-reading">Here's what I'm currently reading:</a> -->

<!-- <div id="gr_grid_widget_1647304638"> -->
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
  
<noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Parth, and even join
      a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript
    >

<!-- <script
  src="https://www.goodreads.com/review/grid_widget/60162168.Parth's%20bookshelf:%20currently-reading?cover_size=medium&hide_link=true&hide_title=true&num_books=4&order=d&shelf=currently-reading&sort=date_updated&widget_id=1647304638"
  type="text/javascript"
  charset="utf-8"
></script> -->


<script src="https://www.goodreads.com/review/custom_widget/60162168.Parth's%20bookshelf:%20currently-reading?cover_position=left&cover_size=small&num_books=5&order=d&shelf=currently-reading&show_author=1&show_cover=0&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=none&widget_id=1662769460&widget_text_color=000000&widget_title_size=large&widget_width=full" type="text/javascript" charset="utf-8"></script>


<hr>

<div id="gr_challenge_11636" style="padding: 0px 7px 0px 7px; min-height: 100px;">
  <div id="gr_challenge_progress_body_11636" style="font-size: 1.25em;">
  </div>
	<script src="https://www.goodreads.com/user_challenges/widget/60162168-parth-shiralkar?challenge_id=11636&v=2"></script>
</div>

</div>
</div>