<div class="irevamp-container">
<div class="irevamp-section goodreads slide-up">

> <a href="https://www.goodreads.com/review/list/60162168-parth-shiralkar?ref=nav_mybooks&shelf=currently-reading">Here's what I'm currently reading:</a>

<div id="gr_grid_widget_1647304638">
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
  <div class="gr_grid_container">
    <div class="gr_grid_book_container">
      <a
        title="The Silent Patient"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/40097951-the-silent-patient"
        ><img
          alt="The Silent Patient"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1582759969l/40097951._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="Maskerade (Discworld, #18; Witches #5)"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/78876.Maskerade"
        ><img
          alt="Maskerade"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1170961678l/78876._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="Cards on the Table (Hercule Poirot, #15)"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/16297.Cards_on_the_Table"
        ><img
          alt="Cards on the Table"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388208739l/16297._SY160_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a title="Nausea" rel="nofollow" href="https://www.goodreads.com/book/show/298275.Nausea"
        ><img
          alt="Nausea"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1377674928l/298275._SX98_.jpg"
      /></a>
    </div>
    <noscript
      ><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Parth, and even join
      a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript
    >
  </div>
</div>
<script
  src="https://www.goodreads.com/review/grid_widget/60162168.Parth's%20bookshelf:%20currently-reading?cover_size=medium&hide_link=true&hide_title=true&num_books=4&order=d&shelf=currently-reading&sort=date_updated&widget_id=1647304638"
  type="text/javascript"
  charset="utf-8"
></script>
</div>
</div>