{% set currentUrl = page.url %}

<nav aria-labelledby="irevamp-siteid" class="irevamp-sitenav" id="nav-main">
  <div class="irevamp-sitenav__container">
    <a  id="irevamp-siteid" href="/"
    {% if currentUrl === '/' %}aria-current="page"{% endif %}
     style="background:none;"><img class="headerhome" src="{{ '/img/sunface.svg' | url }}" alt="Home"></a>
    <ul role="list" class="irevamp-sitenav__navlist irevamp-list-unstyled">
      <li>
        <a class="underline homeclass" href="/">Home</a>
      </li>
      <li>
        <a class="underline" href="/writing">Writing</a>
      </li>
      <li>
        <a class="underline" href="/code">Code</a>
      </li>
      <li>
        <a class="underline" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>

{# {% for link in collections.pages %}
      <li>
        <a
          {% if currentUrl === link.url %}aria-current="page"{% endif %}
          href="{{ link.url }}">
            {{ link.data.title }}
        </a>
      </li>
      {%- endfor %} #}