<div class="music-recco">
<div class="music-bars">
<span></span>
<span></span>
<span></span>
</div>
<div class="music-recco-about irevamp-text">
<div class="music-recco-title"><a href="https://music.musicofthemoon.com/album/clinically-blas" target="_blank">Clinically Blasé by M.O.O.N. &#8599</a></div>
<p class="irevamp-lead" style="font-size: 16px;">Last updated 09/10/2022 • Favorite track: <a href="https://music.musicofthemoon.com/track/alicia" target="_blank">Alicia &#8599</a></p>
</div>

</div>