<div class="irevamp-container swatch-box">
    <p><a style="color: black;" class="nolink" href="/triangle">Site Identity</a></p>
<div class='swatch background-bg'>#170808</div>
<div class='swatch primary-bg'>#fff2e5</div>
<div class='swatch secondary-bg'>#EB89BC</div>
<div class='swatch secondary-light-bg'>#e23f93</div>
<div class='swatch tertiary-bg'>#17D696</div>
{# <div class='swatch lilac-bg'>#8dd5ff</div> #}
</div>