<div class="irevamp-container swatch-box">
    <p>Site Identity</p>
<div class="swatch"><div class='background-bg'>‎</div></div>
<div class="swatch"><div class='primary-bg'>‎</div></div>
<div class="swatch"><div class='secondary-bg'>‎</div></div>
<div class="swatch"><div class='secondary-light-bg'>‎</div></div>
<div class="swatch"><div class='tertiary-bg'>‎</div></div>
</div>