<div class="irevamp-container swatch-box">
    <p>Site Identity</p>
<div class="swatch"><div class='background-bg'>‎</div></div>
<div class="swatch"><div class='primary-bg'>‎</div></div>
<div class="swatch"><div class='secondary-bg'>‎</div></div>
<div class="swatch"><div class='secondary-light-bg'>‎</div></div>
<div class="swatch"><div class='tertiary-bg'>‎</div></div>
</div>

{# <script>
        let swatch_bg = window.getComputedStyle(document.documentElement).getPropertyValue('--irevamp-color-background');
    document.getElementById("swatch-bg").innerHTML = swatch_bg;
        let swatch_primary = window.getComputedStyle(document.documentElement).getPropertyValue('--irevamp-color-primary');
    document.getElementById("swatch-primary").innerHTML = swatch_primary;
        let swatch_secondary = window.getComputedStyle(document.documentElement).getPropertyValue('--irevamp-color-secondary');
    document.getElementById("swatch-secondary").innerHTML = swatch_secondary;
        let swatch_secondary_light = window.getComputedStyle(document.documentElement).getPropertyValue('--irevamp-color-secondary-light');
    document.getElementById("swatch-secondary-light").innerHTML = swatch_secondary_light;
        let swatch_tertiary = window.getComputedStyle(document.documentElement).getPropertyValue('--irevamp-color-tertiary');
    document.getElementById("swatch-tertiary").innerHTML = swatch_tertiary;
</script> #}