<ul class="display-columns display-columns--two article__list">
{% for article in articles | reverse %}
  <li class="article__item">
    <article class="article__preview">
      {% include "../macros/articleListItem.njk" %}
    </article>
  </li>
{% endfor %}
</ul>
