{% import "macros/climb.njk" as climbMacro %}

<div class="climb-table-wrapper slide-up-half-slow">
    <table class="climb-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Grade</th>
            <th>Location</th>
            <th>Type</th>
            <th>Attempts</th>
        </tr>
        </thead>
        <tbody>
        {% for climb in climbs %}
            {{ climbMacro.climb(climb) }}
        {% endfor %}
        </tbody>
    </table>
</div>

