<div class="manga-tracker  mt-md mb-md listening-module slide-up-half-slow ">
    <ul class="display-columns display-columns__close-gap display-columns--four">
        {% for manga in manga.currentlyReading %}<li>
            <img src="{{ manga.coverImageUrl }}" alt="{{ manga.title }} cover" loading="lazy" decoding="async" />
            <h5 class="mr-xxs"><a href="{{ manga.mangaUrl | url }}" target="_blank" class="song-title" title="{{ manga.title }}" tabindex="0">{{ manga.title }}</a></h5>

{#                <p>Author: {{ manga.author }}</p>#}
{#                <p>Current Chapter: {{ manga.currentChapter }}</p>#}
{#                <p>Total Chapters: {{ manga.totalChapters }}</p>#}
            </li>{% endfor %}</ul>
</div>
