<div class="featured__post">
    {% set article = collections.featured[1] %}
    <h3 class="article__preview__header mt-md"><a href="{{ article.url | url }}">{{ article.data.title }}</a></h3>
    <p class="article__preview__description">{% if article.data.description %} {{ article.data.description }} {% endif %} &#x10101;
        <small>
            <time>{{ article.data.date | readableDate }}</time>
        </small>
    </p>
</div>
