{% set socialImage = [metadataInfo.url, metadataInfo.image] | join %}

<meta name="description" content="{{ description }}">
<meta name="author" content="{{ metadataInfo.author.name }}">

<meta name="keywords" content="parth, parth shiralkar, parthshiralkar, shiralkar parth, shiralkar, web developer, parth shiralkar blog, parth shiralkar personal website, parth shiralkar parth.ninja, temporal harmony garden, temporalharmonygarden">

<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ metadataInfo.url }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ socialImage  }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ socialImage }}">
