<div class="callout-bar">
    <div class="callout-content">
        <p>The site is being developed and is currently available for casual viewing. Pages are still being built and might break, and there is dummy content in various modules.
        </p>
    </div>
</div>
