<div class="activity-module ml-auto mr-auto slide-up-half-slow max-content-width">
    <h2 style="font-family: EB Garamond">Currently Playing:</h2>
    <div class="song">
        <img src="/assets/img/sunface.svg" alt="Album Cover" class="album-cover">
            <div class="song-info">
                <a href="https://soundcloud.com/user-180106853-791491009/radar-lil-hero-prod-jdolla" target="_blank">
                    <div class="song-title">Radar</div></a>
                <p class="artist-name"> by Lil Hero</p>
            </div>
    </div>
</div>
