<div class="activity-module mr-auto slide-up-half-slow max-content-width" tabindex="0">
    <h2 style="font-family: EB Garamond" class="mb-xs">Currently playing:</h2>
    <div class="song">
        <img src="/assets/img/sunface.svg" alt="Album Cover" class="album-cover">
            <div class="song-info">
                <a href="https://soundcloud.com/slayer77/death-by-mp3" target="_blank">
                    <div class="song-title">Death by MP3</div>
                </a>
                    <p class="artist-name">slayr</p>
            </div>
    </div>
</div>
