<div class="activity-module mr-auto slide-up-half-slow max-content-width" tabindex="0">
    <h2 style="font-family: EB Garamond" class="mb-xs">Currently playing:</h2>
    <div class="song">
        <img src="/assets/img/sunface.svg" alt="Album Cover" class="album-cover">
        <div class="song-info">
            <a href="https://music.youtube.com/watch?v=ZL6Lhk4N3OY" target="_blank">
                <div class="song-title">Panjeba</div>
            </a>
            <p class="artist-name">Sukha & Manni Sandhu</p>
        </div>
    </div>
</div>