<div class="swatch mb-sm">
    <div class="color-circle text-color-swatch"></div>
    <div class="color-circle background-color-swatch"></div>
    <div class="color-circle background-color-light-swatch"></div>
    <div class="color-circle text-color-link-swatch"></div>
    <div class="color-circle accent-color-swatch"></div>
</div>
