@use "theme" as *;

/* Custom focus styles for chrome */
button:focus,a:focus,input:focus {
    outline: 4px dashed $irevamp-color-tertiary;
  }
  
  /* Hide focus styles if an element receives focus via the mouse. */
  button:focus:not(:focus-visible),
  a:focus:not(:focus-visible),
  input:focus:not(:focus-visible) {
    outline: 0;
  } 
  
  /* Show focus styles on keyboard focus. */
  button:focus-visible,a:focus-visible,input:focus-visible {
    outline: 4px dashed $irevamp-color-tertiary;
  }

// screen reader only
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }