@use "theme" as *;
@use "media-queries" as *;

// Overall hyperlink styles
a {
  background: linear-gradient(
    to bottom,
    var(--irevamp-color-secondary) 50%,
    var(--irevamp-color-secondary) 80%
  );
  background-position: 50% 100%;
  background-repeat: repeat-x;
  background-size: 1px 3px;
  color: #ededed;
  text-decoration: none;
  transition: background-size ease-in-out 0.3s, color ease-in-out 0.3s;
}

a:hover {
  color: $hover-font;
  background-size: 4px 50px;
  transition: background-size ease-in-out 0.3s, color ease-in-out 0.3s;
}

.nolink {
  background: none;
}

.nolink:hover {
  color: inherit;
}

// music bars

.music-bars {
  margin-top: 4px;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 2em;
  height: 3em;

  span {
    width: 5px;
    height: 100%;
    background-color: var(--irevamp-color-secondary-light);
    border-radius: 2px;
    content: "";
    animation: bounce 2.4s ease infinite alternate;

    &:nth-of-type(2) {
      animation-delay: -2.2s; /* Start at the end of animation */
      background-color: var(--irevamp-color-secondary);
    }

    &:nth-of-type(3) {
      animation-delay: -3.7s; /* Start mid-way of return of animation */
      background-color: #8dd5ff;
    }

    @include gt-xs {
      width: 7px;
    }
  }

  .music-bars:hover {
    filter: hue-rotate(222deg);
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}

// Custom hover state

.underline {
  position: relative;
  text-decoration: underline;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 0;
  height: 4px;
  background-color: var(--irevamp-color-secondary);
  transition: width 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

// Text/Content loading animation

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.text-focus-in {
	-webkit-animation: text-focus-in 0.75s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.75s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-up {
  from {
    opacity: 0.1;
    margin-top: 75px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.slide-up {
  animation: slide-up 1s ease-in-out;
}

@keyframes menu-slide-up {
  from {
    opacity: 0.75;
    margin-top: 50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.menu-slide-up {
  animation: menu-slide-up 1.5s;
}

// slide in

.slide-in-left {
  opacity: 0.5;
  position: relative;
  left: -600px;
  animation: slide-in-left 1s forwards;
}

@keyframes slide-in-left {
  100% {
    left: 0;
    opacity: 1;
    position: relative;
  }
}

.slide-in-right {
  opacity: 0.5;
  position: relative;
  right: -600px;
  animation: slide-in-right 1s forwards;
}

@keyframes slide-in-right {
  100% {
    right: 0;
    opacity: 1;
    position: relative;
  }
}

// bird box
@keyframes birdFloat {
  0%   { transform: translate(0,  0); }
  // 10%  { transform: translate(0rem, -3rem); }
  // 20%  { transform: translate(0rem, 0rem); }
  // 30%  { transform: translate(5rem, -3rem); }
  // 40%  { transform: translate(5rem, 0rem); }
  50%  { transform: translate(0rem, -1.25rem); }
  // 60%  { transform: translate(12rem, -2rem); }
  // 70%  { transform: translate(12rem, -4rem); }
  // 80%  { transform: translate(12rem, -2rem); }
  // 90%  { transform: translate(8rem, -4rem); }
  100% { transform: translate(0, -0); } 
}

// breather

.breather-box {
  position: relative;
  box-sizing: border-box;
  width: 249px;
  height: 249px;
  background: transparent;
  border: 1px solid var(--irevamp-color-primary);
  margin: 6vh auto;
  padding: 25px;
  font-family: var(--irevamp-font-family-primary);
  font-size: $irevamp-text-font-size;
}

.breather-box {
  &__top,
  &__right,
  &__bottom,
  &__left {
    position: absolute;
    font-weight: 700;
  }

  &__top {
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__right {
    top: 50%;
    right: -54px;
    transform: translateY(-50%) rotate(90deg);
  }

  &__bottom {
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__left {
    top: 50%;
    left: -54px;
    transform: translateY(-50%) rotate(-90deg);
  }

  &__dot {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    background: #ffff00;
    border-radius: 50%;
    animation: dot-animation #{4 * 4}s infinite;
    animation-timing-function: cubic-bezier(0.57, 0.31, 0.8, 0.62);
  }
}

@keyframes dot-animation {
  0% {
    top: -12px;
    left: -10px;
  }
  25% {
    top: -12px;
    left: 237px;
  }
  50% {
    top: 236px;
    left: 237px;
  }
  75% {
    top: 236px;
    left: -10px;
  }
  100% {
    top: -12px;
    left: -10px;
  }
}

//  background clip

.backlit {
  background: url(/img/backlit.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: backlitanim 45s linear infinite;
  animation: backlitanim 45s linear infinite;
  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes backlitanim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Waves*/

.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg);
  left: 0;
}

.wave {
  position: fixed;
  bottom: -500px;
  left: 650px;
  opacity: 0.45;
  background: #fcbf1e;
  width: 1500px;
  height: 1500px;
  transform-origin: 50% 48%;
  border-radius: 25%;
  animation: drift 9000ms infinite linear;
}

.wave.-three {
  animation: drift 6000ms infinite linear;
  position: fixed;
  background-color: #d207e448;
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: 0.1;
  background: #fa744f;
  position: fixed;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

// background gradient
.bg-gradient {
  background: linear-gradient(-45deg, #000000, #005011, #3f0071, #6d001f);
  background-size: 400% 400%;
  animation: bg-gradient 15s ease infinite;
}

@keyframes bg-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* LOADING SPACE */

.contain {
  animation-delay: 4s;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962ff);
  background: linear-gradient(#25a7d7, #25a7d7);
}

/* Animation */
.icon:nth-child(2) img {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.icon:nth-child(3) img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.icon:nth-child(4) img {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0, 0) rotateZ(180deg);
  transform: scale(0, 0) rotateZ(180deg);
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0;
  }

  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0;
  }
}

@keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0;
  }

  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0;
  }
}
