@use "theme" as *;
@use "sass:math";

.irevamp-button {
  display: inline-flex;
  align-items: center;
  align-self: start;
  justify-content: center;
  min-width: 10ch;
  min-height: 44px;
  padding: 0.25em 1em;
  transition: 180ms ease-in-out;
  transition-property: background, border;
  border-radius: math.div($irevamp-border-radius, 2);
  background-color: irevamp-color("primary");
  color: var(--irevamp-color-background);
  font-size: 1.125rem;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid var(--irevamp-color-secondary);
  }

  &:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 3px var(--irevamp-color-secondary);
  }

  &--small {
    min-height: 34px;
    font-size: 1rem;
  }

  &--center {
    align-self: center;
    margin-right: auto;
    margin-left: auto;
  }

  &__icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.25em;

    &--end {
      margin-right: 0;
      margin-left: 0.25em;
    }

    // stylelint-disable-next-line  selector-max-type
    svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
    }
  }

  &-outlined {
    border: 2px solid var(--irevamp-color-primary);
    background-color: transparent;
    color: irevamp-color("primary");

    &:hover,
    &:focus {
      background-color: var(--irevamp-color-primary);
    }
  }

  // stylelint-disable max-nesting-depth
  // @each $key in $irevamp-button-variants {
  //   $color: irevamp-color($key);

  //   @if ($key != "primary") {
  //     &--#{$key} {
  //       background-color: $color;

  //       @if ($key == "light") {
  //         color: irevamp-color("dark");
  //       }

  //       &:focus {
  //         box-shadow: 0 0 0 3px scale-color($color, $lightness: -30%);
  //       }
  //     }

  //     &-outlined--#{$key} {
  //       border-color: scale-color($color, $lightness: 30%, $saturation: 15%);
  //       color: $color;

  //       &:focus {
  //         box-shadow: 0 0 0 3px scale-color($color, $lightness: -30%);
  //       }

  //       @if ($key == "light") {
  //         &:hover,
  //         &:focus {
  //           background-color: rgba($color, 0.15);
  //         }
  //       } @else {
  //         &:hover,
  //         &:focus {
  //           background-color: scale-color($color, $lightness: 90%);
  //         }
  //       }
  //     }
  //   }
  // }
  // stylelint-enable
}

.irevamp-button__icon,
.irevamp-icon-button {
  display: inline-flex;
  position: relative;
  width: 1em;
  height: 1em;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;

  // stylelint-disable-next-line selector-max-type
  svg {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }
}

.irevamp-icon-button {
  // stylelint-disable-next-line selector-max-type
  svg {
    fill: currentColor;
    opacity: 0.7;
  }

  &:focus,
  &:hover {
    outline: none;

    // stylelint-disable-next-line selector-max-type
    svg {
      opacity: 1;
    }
  }

  &:focus {
    &::after {
      position: absolute;
      top: -0.3em;
      right: -0.3em;
      bottom: -0.3em;
      left: -0.3em;
      border: 1px solid currentColor;
      border-radius: 50%;
      content: "";
    }
  }
}
