@use "theme" as *;

.irevamp-card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  border-top-right-radius:  $irevamp-border-radius;
  border-bottom-right-radius:  $irevamp-border-radius;
  background-color: $hover-font-bg;
  box-shadow: 0px 0px 1px 1px var(--irevamp-color-tertiary);
  border-left: 4px solid var(--irevamp-color-secondary);
  transition: all ease-in-out 0.3s;
  padding: 24px;

  &__title {
    margin-bottom: 1rem;
    font-size: $irevamp-h4-font-size;
    line-height: 2;
    text-decoration: none;
  }

  &__date {
    font-size: $irevamp-lead-font-size;
    line-height: 2;
    font-style: oblique;
    margin-top: 5px;
  }

  /* stylelint-disable selector-max-type, selector-no-qualifying-type */
  a.irevamp-card__title {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 180ms box-shadow ease-in;
      border-top-right-radius:  $irevamp-border-radius;
      border-bottom-right-radius:  $irevamp-border-radius;
      content: "";
    }

    &:focus {
      // outline: none;

      &::before {
        box-shadow: 0 0 0 3px var(--irevamp-color-primary);
      }
    }
  }

  a.irevamp-card__content {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
 

    a:last-child {
      align-self: start;
      margin-top: auto;
    }

    p {
      position: relative;
      margin: 0 0 1rem;
      z-index: 1;
    }

    > ul {
      list-style-type: disc;
      padding-left: 1rem;

      li + li {
        margin-top: 0.5rem;
      }
    }
  }

  &:hover  {
    border-left: 4px solid var(--irevamp-color-primary);
    box-shadow: 0px 0px 1px 1px var(--irevamp-color-secondary-light);
    transition: all ease-in-out 0.3s;
    background-color: $hover-font;
  }

  img:first-child {
    object-fit: cover;
    max-height: 10em;
    border-top-right-radius:  $irevamp-border-radius;
    border-bottom-right-radius:  $irevamp-border-radius;
  }
  // stylelint-enable

  &--outlined {
    border: 1px solid var(--irevamp-color-secondary-light);
    background-color: transparent;
    box-shadow: none;
  }
}
