@use "theme" as *;
@use "media-queries" as *;

.goodreads {
    background-color: #312020;
    margin-bottom: 5vh;
    border-radius: 10px;
    padding: 1.75em;

    a {
      color: var(--irevamp-color-secondary-light);
    }

    p {
      display: none;
    }
}

.challengePic > a > img {
  // max-width: 100%;
  // width: 3em;
  display: none;
}

#gr_challenge_progress_body_11636 {
  h3 > a {
    font-size: 0.75em !important;
    color: var(--irevamp-color-primary);
    margin-right: auto;
    margin-left: 0; 
  } 
  
  h3 {
    text-align: left !important;
  }
}

#gr_grid_widget_1662769460 {
    margin-top: 0;
}

.gr_custom_container_1662769460  {
    /* customize grid container div here. eg: width: 500px; */
    display: flex;
    flex-direction: column;
    column-gap: 2em;
    align-items: center;
    justify-content: flex-start;
    transition: all ease-in-out 0.2s;
    flex-wrap: wrap;

    center {
      display: none;
      visibility: none;
    }
  }

  .gr_custom_header_1662769460 {
    display: none !important;
    visibility: none;

    a {
      background: none;
      text-decoration: none;
      border-bottom: none;
      color: var(--irevamp-color-tertiary);
    }

    a:hover {
      color: var(--irevamp-color-secondary);
    }
  }

  .gr_custom_each_container_1662769460 {
    /* customize book cover container div here */
    overflow: hidden;
    transition: all ease-in-out 0.2s;
    filter: none;
    margin: 0 auto 0 0;
    overflow-wrap: break-word;
    padding-bottom: 1.1em;
    font-size: 1.5em;

    .gr_custom_title_1662769460 a {
      color: var(--irevamp-color-background);
      background: var(--irevamp-color-secondary);
    }

    .gr_custom_title_1662769460 a::after {
      content: "‎ ⟴";
      display: inline-block;
      background: none !important;
    }

    .gr_custom_author_1662769460 a {
      color: var(--irevamp-color-primary);
      background: none;
    }
  }

  .gr_grid_book_container:hover {
    /* customize book cover container div here */
    filter: hue-rotate(66deg);
    outline: 2px dashed var(--irevamp-color-secondary-light);
    transition: all ease-in-out 0.2s;
  }