// media aliases and breakpoints

$min-width: 320px;
$max-width: 1440px;

$screen-xs-min: 320px;
$screen-xs-max: 480px;

$screen-sm-min: $screen-xs-max + 1;
$screen-sm-max: 767px;

$screen-md-min: $screen-sm-max + 1;
$screen-md-max: 1100px;

$screen-lg-min: $screen-md-max + 1;
$screen-lg-max: 1920px;

$screen-xl-min: $screen-lg-max + 1;

// Shorthand

// lt = less than

// gt = greater than

// media devices

@mixin xxs {
  @media screen and (min-width: #{$screen-xxs-min}) and (max-width: #{$screen-xxs-max}) {
    @content;
  }
}


@mixin xs {
  @media screen and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: #{$screen-xl-min}) and (max-width: #{$screen-xl-max}) {
    @content;
  }
}

// media lt queries
@mixin lt-xs {
  @media screen and (max-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin lt-sm {
  @media screen and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin lt-md {
  @media screen and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin lt-lg {
  @media screen and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lt-xl {
  @media screen and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// media gt queries
@mixin gt-xxs {
  @media screen and (min-width: #{$screen-xxs-min}) {
    @content;
  }
}

@mixin gt-xs {
  @media screen and (min-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin gt-sm {
  @media screen and (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin gt-md {
  @media screen and (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin gt-lg {
  @media screen and (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin gt-xl {
  @media screen and (min-width: #{$screen-xl-min}) {
    @content;
  }
}