@use "media-queries" as *;

$menu-bg: #f8f0ce;
$menu-color-primary: #122f54;
$menu-color-secondary: #881100;

$menu-font-sans: "Lato", sans-serif;
$menu-font-serif: "Libre Baskerville", sans-serif;
$menu-font-cursive: "Great Vibes", cursive;

.menu {
  background-color: $menu-bg;
  transition: all ease-in-out 0.3s;
  color: $menu-color-primary;

  padding-top: 10vh;
  padding-bottom: 10vh;

  a {
    color: $menu-color-primary;
    text-decoration: none;
    border: none;
    background: none;
    transition: color ease-in-out 0.3s;
  }

  .menu-header {
    font-family: $menu-font-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 1.3;
    transition: all ease-in-out 0.3s;
  }

  .menu-header:hover {
    filter: hue-rotate(40deg);
    transition: all ease-in-out 0.3s;
  }

  .menu-divider {
    font-family: $menu-font-cursive;
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;

    @include gt-sm {
      font-size: 4em;
    }
  }

  .glossary {
    font-family: $menu-font-serif;
    margin-bottom: 10px;
    color: $menu-color-secondary;
    text-transform: lowercase;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;

    @include gt-xs {
      margin-top: 1em;
    }

    @include gt-sm {
      margin: 1.25em 0;
    }
  }

  .menu-redirect {
    border-bottom: 1px solid transparent;
  }

  .menu-redirect:hover {
    border-bottom: 1px solid $menu-color-primary;
    transition: all ease-in-out 0.2s;
  }

  .menu-section-title {
    font-family: $menu-font-sans;
    font-weight: 400;
    color: $menu-color-secondary;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: 0.07em;
  }

  .menu-collection {
    max-width: 100ch;
  }
}

.pista-mode {
  background-color: #e2fff5;

  .menu-item {
    background-color: #e2fff5;
  }

  .menu-item:hover {
    filter: brightness(1.13);
  }
}

.rose-mode {
  background-color: #ffcce0;

  .menu-item {
    background-color: #ffcce0;
  }

  .menu-item:hover {
    filter: brightness(1.09);
  }
}

.guinness-mode {
  background-color: #212121;
  color: #ffd6bd;
  a {
    color: #ffd6bd;
  }

  .menu-item {
    &__title a:hover {
      color: #ffd6bd;
    }

    &__description {
      color: #ffd669;
    }
    background-color: #212121;
  }

  .menu-item:hover {
    filter: brightness(1.5);
  }

  .menu-section-title {
    color: #b8b8ff;
  }
}

.grape-mode {
  background-color: #ced4fd;

  .menu-item {
    background-color: #ced4fd;
  }

  .menu-item:hover {
    filter: brightness(1.08);
  }
}

.peach-mode {
  background-color: #ffe2d7;

  .menu-item {
    background-color: #ffe2d7;
  }

  .menu-item:hover {
    filter: brightness(1.08);
  }
}

.menu-item {
  display: flex;
  flex-direction: row;
  padding: 1.25em 0.75em;
  border-radius: 9px;
  margin: 0.5em auto;
  justify-content: space-between;
  background-color: $menu-bg;
  filter: brightness(1);
  transition: all ease-in-out 0.3s;
  width: 100%;

  @include gt-sm {
    padding: 1.25em 1.5em;
  }

  u {
    text-decoration: none;
    border-bottom: none;
    transition: all ease-in-out 0.1s;
  }

  &__about {
    display: flex;
    flex-direction: column;
    max-width: 85%;
  }

  &__title {
    font-family: $menu-font-sans;
    text-transform: uppercase;
    letter-spacing: 0.175em;
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 5px;
  }

  &__description {
    font-family: $menu-font-serif;
    font-weight: 400;
    font-size: 1em;
    color: $menu-color-secondary;
  }

  &__price {
    font-family: $menu-font-serif;
    font-weight: 700;
    margin-top: 3px;
    font-size: 1.2em;
  }

  &__title:hover span {
    display: none;
    transition: all ease-in-out 0.3s;
  }
}

.menu-item__price-project::after {
  content: "🌱";
  display: flex;
  padding-top: 0.25em;
}

.menu-item-row {
  display: flex;
  flex-direction: column;

  @include gt-xs {
    flex-direction: row;
    column-gap: 3em;
  }
}

.menu-item-column {
  height: auto;
  width: 100%;

  @include gt-xs {
    width: 50%;
  }
}

.oak {
  text-align: center;
  margin: 0 auto;
  max-width: 150px;

  @include gt-sm {
    max-width: 200px;
  }
}

.menu-item:hover {
  cursor: alias;

  .menu-item__title > a::after {
    transition: all ease-in-out 0.3s;
    content: "🔗";
    display: inline-block;
  }

  u {
    border-bottom: 2px dashed $menu-color-secondary;
  }

  filter: brightness(1.09);
  transition: all ease-in-out 0.3s;
}

.menu-hori {
  border-color: $menu-color-secondary;
  width: 60%;
  margin: 2em auto;
}
