@use "theme" as *;
@use "media-queries" as *;

.pagenotfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .pagenotfound-container {
    text-align: center;
  }

  @include gt-md {
    padding-top: 6vh;
  }
}

.cloud {
  position: relative;
  display: block;
  padding-left: 1em;
  width: 4em;
  height: 4em;
  margin: 0.5em auto;
  color: var(--irevamp-color-secondary);
  background: var(--irevamp-color-secondary);
  border-width: 0.25em;
  border-style: solid;
  border-radius: 50% 50% 0 0;
  transition: all ease-in-out 0.2s;

  @include gt-xs {
    width: 6em;
    height: 6em;
  }

  @include gt-sm {
    width: 9em;
    height: 9em;
  }

  @include gt-md {
    width: 12em;
    height: 12em;
  }
}

.cloud:before,
.cloud:after {
  content: "";
  position: absolute;
  bottom: -0.25em;
  background: inherit;
  border-width: 0.25em;
  border-style: solid;
}

.cloud:before {
  left: 90%;
  width: 60%;
  height: 60%;
  border-left: none;
  border-radius: 50% 50% 50% 0;
}

.cloud:after {
  right: 70%;
  width: 80%;
  height: 80%;
  border-right: none;
  border-radius: 50% 50% 0;
}

.cloud:hover {
  cursor: progress;
  .cloud::after,
  .cloud:before {
    border-style: dotted;
  }
  color: var(--irevamp-color-primary);
  background: var(--irevamp-color-secondary);
  transition: all ease-in-out 0.2s;
}

.crane {
  max-height: 30vh;
  transition: all 1s ease;
  filter: hue-rotate(0);

  @include gt-xs {
    max-height: 40vh;
  }
}

@keyframes hue {
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.crane:hover {
  cursor: progress;
  -webkit-animation: hue 5s linear;
  animation: hue 5s ease-in-out;
}

.pagenotfound-button {
  background-color: var(--irevamp-color-primary);
  color: var(--irevamp-color-background);
  outline: none;
  border: 0;
  border-radius: 35px;
  padding: 5px 19px;
  transition: all ease-in-out 0.2s;
  margin-top: 1em;

  @include gt-sm {
    margin-top: 1.75em;
  }
}

.pagenotfound-button:hover {
  cursor: pointer;
  background-color: var(--irevamp-color-secondary-light);
  color: var(--irevamp-color-primary);
  transition: all ease-in-out 0.2s;
}

.notfound-h5 {
  @include xs {
    font-size: 24px;
  }
}

.notfound-text {
  @include xs {
    font-size: 16px;
  }
}
