:root, html[data-theme='noir']{
--irevamp-color-primary: #fff2e5;
--irevamp-color-secondary: #e23f93;
--irevamp-color-secondary-light: #EB89BC;
--irevamp-color-background: #170808; // the default dark
--irevamp-color-tertiary: #17D696;
}

// work on this

html[data-theme='jackdaw'] {
  --irevamp-color-primary: #ffcb8c;
  --irevamp-color-secondary: #fc4c12;
  --irevamp-color-secondary-light: #fc7c7c;
  --irevamp-color-background: #00170a; // jackdaw
  --irevamp-color-tertiary: #1bd69e;
}

html[data-theme='maroon'] {
  --irevamp-color-primary: #fdd2f2;
  --irevamp-color-secondary: #009dff;
  --irevamp-color-secondary-light: #57b5f8;
  --irevamp-color-background: #44002f; // strawberry
  --irevamp-color-tertiary: #FF9904;
}

html[data-theme='light'] {
  --irevamp-color-primary: #170808;
  --irevamp-color-secondary: #d2006c;
  --irevamp-color-secondary-light: #EB89BC;
  --irevamp-color-background: #fff2e5; // light
  --irevamp-color-tertiary: #8918BA;
}

html[data-theme='gemstone'] {
  --irevamp-color-primary: #ffffff;
  --irevamp-color-secondary: #fa2d2d;
  --irevamp-color-secondary-light: #ff6060;
  --irevamp-color-background: #03142e; // gemstone
  --irevamp-color-tertiary: #f1ff85;
}




:root {
  --irevamp-color-accessibility: var(--irevamp-color-tertiary);
}

$hover-font-bg: #3d052f81 !default;
$hover-font: var(--irevamp-color-background);

$irevamp-link-color: var(--irevamp-color-primary);
$irevamp-brand-colors: (
  "primary": var(--irevamp-color-primary),
  "secondary": var(--irevamp-color-secondary),
  "secondary-light": var(--irevamp-color-secondary-light),
) !default;

$irevamp-color-body: rgba(var(--irevamp-color-primary), 0.1);
$irevamp-color-gray: rgba(var(--irevamp-color-secondary-light), 0.8);

$irevamp-colors: map-merge(
  $irevamp-brand-colors,
  (
    "text": var(--irevamp-color-body),
    "background": var(--irevamp-color-background),
    "light": rgba(var(--irevamp-color-secondary-light), 50%),
    "dark": rgba(0 0 0 / 87%),
    "gray": $irevamp-color-gray,
  )
);

@function irevamp-color($key) {
  @return map-get($irevamp-colors, $key);
}

// Add/remove to selectively generate `ink` (text color) classes
$irevamp-ink-colors: "primary", "secondary", "secondary-light", "text", "gray", "light", "dark" !default;

// Add/remove to selectively generate `background` (text color) classes
$irevamp-background-colors: "primary", "secondary", "background", "gray", "light" !default;

$irevamp-button-variants: "primary", "secondary", "light", "gray" !default;

$irevamp-border-radius: 8px !default;

$irevamp-font-family-primary: 'Work Sans', sans-serif !default;
$irevamp-font-family-secondary: 'Bitter', serif !default;

$irevamp-strong-font-weight: 500 !default;
$irevamp-h1-font-size: 48px;
$irevamp-h2-font-size: 44px;
$irevamp-h3-font-size: 38px;
$irevamp-h4-font-size: 34px;
$irevamp-h5-font-size: 30px;
$irevamp-h6-font-size: 28px;
$irevamp-text-font-size: 22px;
$irevamp-lead-font-size: 20px;
$irevamp-mini-font-size: 18px;

$irevamp-spacing: (
  sm: 1rem,
  md: 3rem,
  lg: 6rem,
  xl: 10rem,
  auto: "auto",
) !default;
