@use "theme" as *;
@use "media-queries" as *;
@use "pagenotfound" as *;

$irevamp-typography-variants: h1, h2, h3, h4, h5;

@each $type in $irevamp-typography-variants {
  #{$type},
  .irevamp-#{$type} {
    font-weight: $irevamp-strong-font-weight;
    line-height: 1.1;
    margin-bottom: 0.2em;
  }
}

.salutation {
  font-weight: 700;
  margin-bottom: 0;
}

.intro {
  font-size: $irevamp-lead-font-size;
  font-weight: 300;
}

.hello-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include lt-sm {
    padding: inherit 0;
  }

  @include gt-sm {
    flex-direction: row;
  }
}

.hello-text {
  text-align: left;
  @include gt-sm {
    width: 45%;
  }
}

.hello-img {
  max-width: 35ch;
  margin-top: 3em;
  margin-left: 0;


  @include gt-sm {
    margin-left: 3em;
    margin-top: 0;
    max-width: 40ch;
  }
}

.hello-img>img {
  width: 351px;
  height: 351px;
}

.hello-img {
  filter: hue-rotate(0deg);
  transition: all cubic-bezier(0,.63,.69,.12) 0.5s;
}

.hello-img:hover {
  filter: hue-rotate(-108deg);
  transition: all ease-in-out 0.3s;
}

.hello-bush {
  height: 35rem;
  z-index: 3;
  filter: hue-rotate(45deg);
  // animation: hue 5s ease-in-out;
}

.hello-bird {
  animation: birdFloat 2.25s ease-in-out infinite;
  animation-delay: 0.3s;
  position: relative;
  z-index: -1;
  margin-bottom: -3rem;
  transform: translateX();
}

// As of v0.3.0, `clamp` not well enough supported on mobile browsers for use
// Due to build-in min/max Sass functions, requires `unquote()` to correctly
// render as CSS min/max

// Headers and such
h1,
.irevamp-h1 {
  font-size: $irevamp-h1-font-size;
  // font-size: unquote("min(max(3rem, 5vw), #{$irevamp-h1-font-size})");

  @include gt-sm {
    font-size: 58px;
  }

  @include gt-md {
    font-size: 68px;
  }
}

h2,
.irevamp-h2 {
  font-size: $irevamp-h2-font-size;

  @include gt-sm {
    font-size: 48px;
  }

  @include gt-md {
    font-size: 58px;
  }
}

h3,
.irevamp-h3 {
  font-size: $irevamp-h3-font-size;

  @include gt-sm {
    font-size: 42px;
  }
  @include gt-md {
    font-size: 50px;
  }
}

h4,
.irevamp-h4 {
  font-size: $irevamp-h4-font-size;
  @include gt-sm {
    font-size: 38px;
  }
  @include gt-md {
    font-size: 42px;
  }
}

h5,
.irevamp-h5 {
  font-size: $irevamp-h5-font-size;
  font-weight: normal;
  @include gt-sm {
    font-size: 33px;
  }
  @include gt-md {
    font-size: 36px;
  }
}

p,
li {
  font-size: $irevamp-lead-font-size;

  @include gt-md {
    font-size: 24px;
  }
}

p {
  margin: 0 0 1.2rem;
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }

    + h4 {
      margin-top: 4rem;
    }

    + h5 {
      margin-top: 4rem;
    }
  }
}

.italics {
  font-style: italic;
}

strong {
  font-weight: $irevamp-strong-font-weight;
}

.bold600 {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.nodecoration {
  a,
  u {
    text-decoration: none;
  }
}

.underlined {
  text-decoration: underline;
}

a:not(.irevamp-button) {
  color: $irevamp-link-color;
  width: fit-content;
}

code:not([class*="language"]) {
  display: inline-flex;
  padding: 0.25em;
  background-color: irevamp-color("secondary-light");
  color: irevamp-color("dark");
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  border: 1px solid var(--irevamp-color-secondary-light);
  border-radius: 2px;
  font-size: 1em;
  line-height: 1.1;
}

pre code:not([class*="language"]) {
  width: 100%;
  max-width: calc(100vw - 2rem);
  overflow-x: auto;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.25rem;
  border-left: 12px solid var(--irevamp-color-secondary-light);
  color: irevamp-color("gray");

  &,
  p {
    font-size: 22px;
  }

  + * {
    margin-top: 3rem;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.blockquote-lilac {
  border-left: 12px solid #8dd5ff;
}

.irevamp-lead {
  font-size: $irevamp-lead-font-size;
  // letter-spacing: 0.01em;
  margin-bottom: 1em;
}

.irevamp-text {
  font-size: $irevamp-text-font-size;
  // letter-spacing: 0.01em;
  margin-bottom: 1em;
  line-height: 1.3;
}

.irevamp-mini {
  font-size: $irevamp-mini-font-size;
  // letter-spacing: 0.01em;
  margin: 1em;
}

.irevamp-description {
  font-size: 1.3em;
  color: var(--irevamp-color-secondary);
}

.irevamp-list-unstyled {
  list-style: none;
  padding: 0;
}

.irevamp-postlist__content {
  text-align: left;
  margin: 1.25rem auto;

  .irevamp-text {
    @include gt-md {
      font-size: 105%;
    }
  }
}

.aftercringe:hover {
  content: "";
  cursor: wait;
}
.aftercringe:hover::after {
  content: "😓😞";
  display: inline-block;
}

.tronafterhidden::before {
  content: "build for the web";
}

.tronafterhidden:hover {
  cursor: url(/img/tron.png), auto;
}

.tronafterhidden:hover::before {
  content: "fight for the users";
}

.music-recco {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
}

.music-recco-icon {
  height: 54px;
  @include gt-sm {
    height: 72px;
  }
}

.music-recco-about {
  padding-left: 1em;
}

.music-recco-title a {
  color: var(--irevamp-color-tertiary);
  line-height: 1.5;
}

.works-bg {
  background-color: var(--irevamp-color-background);
  display: flex;
  flex-direction: column;
  justify-items: center;
  border-radius: 5px;
  align-items: center;
  row-gap: 3em;
}

.works-item a {
  border: 3px dashed var(--irevamp-color-secondary-light);
  border-radius: 2px;
  padding: 1.15em;
  background-color: var(--irevamp-color-background);
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  @include gt-sm {
    padding: 3em;
    align-items: flex-start;
    flex-direction: row;
  }
}

.works-cover {
  transition: all 0.3s ease-in-out;
  background-color: bisque;
  height: 20em;

  @include gt-sm {
    height: 35em;
  }
}

.works-item:hover {
  cursor: pointer;
  background-color: var(--irevamp-color-primary);
  transition: background-color 0.2s ease-in-out;
  .works-about {
    color: var(--irevamp-color-background);
  }
}

.works-about {
  color: var(--irevamp-color-primary);
  font-size: $irevamp-text-font-size;
  font-weight: 400;
  margin: auto;
  padding-top: 2em;
  margin-top: 0;

  @include gt-sm {
    padding-left: 2em;
    padding-top: 0;
  }
}

.swatch {
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.swatch-box {
  background-color: white;
  border: 5px dashed $hover-font-bg;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 1.125em;
  font-size: $irevamp-text-font-size;
  align-items: center;
  font-weight: 400;
  text-transform: lowercase;
  width: 80%;
  align-self: center;

  @include gt-sm {
    padding: 1.5em;
    width: 35%;
  }
}

.swatch-name {
  width: 50%;
}

.background-bg {
  color: var(--irevamp-color-primary);
  background-color: var(--irevamp-color-background);
  width: 100%;
}

.primary-bg {
  background-color: var(--irevamp-color-primary);
  color: var(--irevamp-color-background);
  width: 100%;
}

.secondary-bg {
  background-color: var(--irevamp-color-secondary);
  width: 100%;
}

.secondary-light-bg {
  background-color: var(--irevamp-color-secondary-light);
  width: 100%;
}

.tertiary-bg {
  background-color: var(--irevamp-color-tertiary);
  width: 100%;
}

.lilac-bg {
  background-color: #8dd5ff;
}

.omg-babe:hover {
  cursor: url(/img/omg-babe.jpg), auto;
}

.artefact:hover {
  cursor: url(/img/artefact.png), auto;
}

.taglist {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.taglist-tag {
  background: none;
  color: var(--irevamp-color-primary);
  font-size: $irevamp-mini-font-size;
  border: 1px dashed salmon;
  padding: 4px;
  margin-bottom: 0;
}

.taglist-tag:hover {
  color: var(--irevamp-color-secondary-light);
  border: 1px dashed #17d696;
}     

.social-icon {
  max-width: 50px;
}

.stats-daily {
  display: grid;
  grid-template-columns: 1fr;

  // @include gt-sm {
  //   column-gap: 1em;
  //   justify-content: space-between;
  //   grid-template-columns: repeat(2, 45%);
  // }
}