@use "theme" as *;

.irevamp-content-maxlength {
  max-width: 80ch;
}

.irevamp-anchor {
  display: inline-block;
  margin-left: 0.25em;
  transition: 0.1s all ease-in-out;
  font-size: 0.65em;
  vertical-align: top;

  &:hover {
    opacity: 1;
  }
}

$irevamp-alignments: left, center, right !default;

@each $alignment in $irevamp-alignments {
  .irevamp-text-align--#{$alignment} {
    text-align: #{$alignment};

    @if ($alignment == "center") {
      > a {
        align-self: center !important;
      }
    }
  }
}

@each $key in $irevamp-background-colors {
  .irevamp-background--#{$key} {
    background-color: irevamp-color($key);
  }
}

@each $key in $irevamp-ink-colors {
  .irevamp-ink--#{$key},
  a.irevamp-ink--#{$key} {
    color: irevamp-color(#{$key});
  }

  .irevamp-ink--#{$key} > a:not(.irevamp-button) {
    color: inherit;
  }
}

.irevamp-mx-auto {
  margin-right: auto;
  margin-left: auto;
}

@each $key, $unit in $irevamp-spacing {
  .irevamp-my-#{$key} {
    margin-top: $unit;
    margin-bottom: $unit;
  }

  .irevamp-mt-#{$key} {
    margin-top: $unit;
  }

  .irevamp-mb-#{$key} {
    margin-bottom: $unit;
  }
}

.irevamp-mb-none {
  margin-bottom: 0;
}

.irevamp-pb-none {
  padding-bottom: 0;
}




/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--irevamp-color-tertiary);
  opacity: 0.6; // delete this
 }

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

