<h3 class="article__preview__header"><a href="{{ article.url | url }}">{{ article.data.title }}</a></h3>
<p class="article__preview__description">{% if article.data.description %} {{ article.data.description }} &#x10101; {% endif %}
<small>
    <time>{{ article.data.date | readableDate }}</time>
    {% if article.data.tags %}
        {% for tag in article.data.tags.slice(1, 3) %}
            {% if tag != 'notes' %}{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                <a class="category"
                   href={{ tagUrl | url }}>{{ tag }}
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
</small>
</p>
