{% macro blogrollItem(title, siteUrl) %}<div class="reading-card" tabindex="0">
    <h3 class="card__title mb-xs">{{ title }}</h3><a href="{{ siteUrl | url }}" target="_blank" title="{{ title }}" class="no-link reading-card__link mr-md"
                                                     tabindex="0">{ {{ siteUrl | url }} }</a></div>{% endmacro %}
