{% macro climb(climb) %}
    <tr>
        <td>{{ climb.date }}</td>
        <td>{{ climb.difficulty }}</td>
        <td>{{ climb.location }}</td>
        <td>{{ climb.type }}</td>
        <td>
            {{ climb.times_attempted }}
            {% if climb.times_attempted == "1" %}
                <span class="star"><sup>&#127881;</sup></span>
            {% endif %}
        </td>
    </tr>
{% endmacro %}
