{% macro climb(climb) %}
    <tr>
        <td>{{ climb.date }}</td>
        <td>{{ climb.difficulty }}</td>
        <td>{{ climb.location }}</td>
        <td>{{ climb.type }}</td>
        <td>{{ climb.times_attempted }}</td>
    </tr>
{% endmacro %}
