{% macro projectCard(title, projectUrl, imageUrl, description) %}
<div class="card mb-xs" tabindex="0">
    <h3 class="card__title mb-xs"><a href="{{ projectUrl | url }}" target="_blank" title="{{ title }}" tabindex="0">{{ title }}</a></h3>
    {% if description %}
    <p class="card__description mb-xs">{{ description }}</p>
    {% endif %}
    {%  if imageUrl %}
    <img loading="lazy" class="card-image mb-md" src="{{ imageUrl | url }}" alt="{{ title }}">
    {% endif %}
</div>
{% endmacro %}
