<!DOCTYPE html>
<html lang="en" data-theme=''>
  {%- set pageTitle %}
  {% if title %}{{ title }} | {% endif %}{{ meta.siteName }}{% endset -%}
  {%- set pageDescription %}
  {% if description %}{{ description }}
  {% else %}{{ meta.siteDescription }}
  {% endif %}{% endset -%}
  {%- set pageSocialImg %}{{ meta.url }}/previews/{% if title %}{{ title | slug }}
  {% else %}home{% endif %}.png{% endset -%}
  {% include 'head.njk' %}
  {% include 'sitenav.njk' %}

  <body id="body-main">
    <div>

      {{ content | safe }}

      <!-- Netlify Identity Widget -->
      {% if path == "home" %}
        <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
      {% endif %}
    </div>
  </body>

  {% include 'footer.njk' %}
</html>