---
layout: base.njk
---
{% set currentUrl = page.url %}

<header class="irevamp-hero">
  <div class="irevamp-container slide-up">
    <h1 class="irevamp-ink--primary irevamp-mb-none bold600"><a name="{{title}}" class="nolink" href="{{page.url}}">{{ title }}</a></h1>
    {% if description %}
    <div class="h5 irevamp-content-maxlength irevamp-mt-sm irevamp-mx-auto irevamp-description">
     {{ description | safe }}
    </div>
    {% endif %}
  </div>
</header>
<main class="irevamp-container slide-up">
  <article class="irevamp-mx-auto">
    {{ content | safe }}
  </article>
</main>
