---
layout: base.njk
---

<header class="irevamp-hero">
  <div class="irevamp-container slide-up">
    <h1 class="irevamp-ink--primary irevamp-mb-none bold600">{{ title }}</h1>
    <h5 class="irevamp-content-maxlength irevamp-ink--gray irevamp-mt-md irevamp-mx-auto irevamp-description">
      {{ description }}
    </h5>
  </div>
</header>
<main class="irevamp-container slide-up">
    {{ content | safe }}
</main>
