<!doctype html>
<html lang="{{ metadata.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ '/assets/favicons/apple-touch-icon.png' | url }}" sizes="180x180">
    <link href="{{ '/assets/favicons/favicon-32x32.png' | url }}" type="image/png" sizes="32x32">
    <link href="{{ '/assets/favicons/favicon-16x16.png' | url }}" type="image/png" sizes="16x16">
    <link href="{{ '/assets/favicons/site.webmanifest' | url }}" rel="manifest">
    <link href="{{ '/assets/favicons/safari-pinned-tab.svg' | url }}" rel="mask-icon" color="#d21687">
    <link href="{{ '/assets/favicons/favicon.ico' | url | safe }}">
    <meta name="msapplication-TileColor" content="#d21687">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#fffcf6">

    <meta name="generator" content="Eleventy">

    <title>{{ title or metadata.title }}</title>
    {% include "../components/metadata.njk" %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preload" href="{{ '/assets/theme.css' | url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="{{ '/assets/theme.css' | url }}">
</head>

<body>

<div class="theme-toggle-container" title="Change theme">
    <span id="high-contrast-toggle">&#x29B0;</span> <!-- Unicode icon -->
</div>
{% include "../components/header.njk" %}
<main role="main">
    {{ content | safe }}
</main>
{% include "../components/footer.njk" %}
</body>
</html>
