---
layout: base
---
{# slimmer layout #}
{% if title %}
    <section class="page__header ml-auto mr-auto">
        <div class="flower-svg-container">
            <img src="/assets/icons/flower.svg" class="flower-svg-top-right scale-in-rotate-center" alt="Flower top right">
            <h1 class="slide-up"><a name="{{title}}" class="no-link" href="{{page.url}}">{{ title | safe }}</a></h1>
            <img src="/assets/icons/flower.svg" class="flower-svg-bottom-left scale-in-rotate-center" alt="Flower bottom left">
        </div>
        <h2 class="slide-up-half">{{ description | safe }}</h2>
    </section>
{% endif %}
<section class="page__content max-content-width">
    {{ content | safe }}
</section>

