#current-error-url {
  overflow-wrap: anywhere;
}

.error-container {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  column-gap: 0.25em;

  @include breakpoint-sm {
    column-gap: 2em;
  }
}

.error-image {
  width: 180px;
  height: 381px;
}

.error-message {
  font-size: 24px;
  margin-top: 20px;
}
