* {
  margin: 0;
  padding: 0;
}

html {
  font-family: $main-font;
  scroll-behavior: smooth;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Text Rendering =========== */
  text-rendering: optimizeLegibility;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.44rem;
  height: 100%;
  line-height: 130%;
  min-width: 270px;
  margin: 0 0.9em;
  transition: all 0.3s ease-in-out;

  @include breakpoint-sm {
    margin: 0 2em;
    font-size: 1.53rem;
  }

  footer {
    justify-self: flex-end;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $accent-font;
  line-height: 126%;
}

h4, h5, h6 {
  color: var(--accent-color) !important;
}

a {
  color: var(--text-color);
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--text-color-link);
  }
}

p {
  + p {
    margin-top: 0.81em;
  }
}

nav {
  ul {
    list-style: none;
    z-index: 20;
    display: flex;
    align-items: center;

    @include breakpoint-sm {
      padding: 0.5em 0;
    }
  }
}

.nav__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
  row-gap: 0.25em;
  column-gap: 0.25em;

  @include breakpoint-sm {
    flex-direction: row;
  }
}

.nav__booklink {
  @include breakpoint-st-xs {
    display: none;
  }
}

main {
  flex: 0 1 100%;
  width: 100%;
  position: relative;

  &:not(nav) {
    ul, ol {
      margin: .7em 0 .7em 1em;
    }
  }

  nav {
    span {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }

  nav ul {
    margin: .2em 0 2em 0;
  }

  @include breakpoint-md {
    margin: 1em auto;
  }
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -10em;
  margin-left: -20em;
  width: 100%;
  min-height: 100%;
  background-image: url("/assets/icons/flower.svg");
  background-repeat: no-repeat;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: contain;
  max-width: 100%;
  max-height: 100%;
  filter: opacity(0.045) contrast(1.5) brightness(1.1) saturate(1.1);
  z-index: -1;
  -webkit-animation: slideUpHalf 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s both;
  animation: slideUpHalf 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s both;

  @include breakpoint-st-xs {
    margin-top: -11em;
    margin-left: -7em;
  }
}

main,
header,
footer {
  max-width: 1100px;
}

footer {
  padding: 1em 0 2.5em 0;
  border-top: 2px solid var(--background-color-light);
  width: 100%;

    @include breakpoint-sm {
        padding: 1em 0 0.72em 0;
    }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.5em 0;
  min-height: fit-content;
  width: 100%;
}

nav ul li, footer ul li {
  display: inline-block;
  font-weight: normal;

  &.active a {
    font-weight: 600;
    text-decoration: underline;
    color: var(--accent-color);
  }

  a {
    display: inline-block;
    max-width: fit-content;
    text-decoration: none;
    margin-right: 0.81em;
    transition: all 0.3s ease-in-out;

    @include breakpoint-sm-plus {
      margin-right: 1.35em;
    }
  }

  a:hover {
    transition: all 0.3s ease-in-out;
  }

  @include breakpoint-md {
    font-size: 1.1em;
  }
}

.accent-border-bottom {
  border-bottom: 2px solid var(--accent-color);
  width: fit-content;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--text-color);
  margin: 1.5em 0 1em;
}

blockquote {
  position: relative;
  padding-left: 0.75em;
  border-left: 5px solid var(--accent-color);
  margin: 1.5rem 0;
  line-height: 1.2;
  font-size: 1em;

  a {
    color: var(--text-color-link);
    font-weight: 600;
  }

  cite {
    font-weight: normal;
    display: block;
    margin-top: 0.35em;
  }

}

.blockquote-lilac {
  border-left: 5px solid var(--text-color-link);
}

.page {
  &__header {
    text-align: left;
    margin-bottom: 2.5em;
    margin-top: 0.5em;
    margin-right: auto;

    h1 {
      font-size: 2em;
      font-weight: 600;
      line-height: 1.1;
      border-left: 0.45em solid var(--text-color-link);
      padding-left: 0.35em;

      @include breakpoint-sm-plus {
        font-size: 3em;
      }
    }

    h2 {
      font-family: $main-font;
      font-weight: normal;
      font-size: 1.1em;
      color: var(--text-color-link);
      filter: hue-rotate(207deg);
      margin-top: 0.35em;
      line-height: 1.1;

      @include breakpoint-sm-plus {
        font-size: 1.2em;
      }
    }
  }

  &__content {
    margin-right: auto;

    ul li::marker {
      color: var(--accent-color);
    }

    // Font sizes for headers
    h2 {
      font-size: 1.1em;
      font-weight: 600;

      @include breakpoint-sm {
        font-size: 1.35em;
      }
    }
  }
}

.max-content-width {
  max-width: 70ch;
  margin: inherit auto;
}

.theme-toggle-container {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 0.25em;
  z-index: 100;
  font-size: 1.25em;
  display: flex;
  cursor: grab;
  margin-left: 0.2em;
}

.go-to-top-container {
  border-radius: 2em;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: rgba(255, 49, 172, 0.23);
  margin: 0.45em;

  @include breakpoint-sm {
    margin-right: 1em;
  }

  @include breakpoint-lg {
    margin-right: 2em;
  }
}

.go-to-top-container a {
  padding: 0.27em;
  text-decoration: none;
  font-weight: bold;
  font-family: $accent-font;
}

.footer-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 1em;
  justify-content: flex-end;
  width: 100%;
  flex-wrap: wrap-reverse;

  a svg {
    path {
      fill: var(--text-color-link);
      transition: all 0.3s ease-in-out;
    }
  }

  img {
    max-width: 32px;
    transition: all 0.3s ease-in-out;
    filter: invert(0.5);
    width: 32px;
    height: 32px;
  }

  img:hover {
    filter: invert(0.2);
    transition: all 0.3s ease-in-out;
  }

  a:hover svg {
    path {
      fill: var(--accent-color);
      transition: all 0.3s ease-in-out;
    }
  }
}

.theme-toggle-icon {
  height: 30px;
  width: 30px;
}

.no-click {
  pointer-events: none;
}

.no-link {
  text-decoration: none;
}

.no-js {
  display: none;
}

.article__body, .page__content {
  p:not(.article__preview__description) {
    font-size: 110%;
  }
}

.featured__post {
  border-left: 5px solid var(--background-color-light);
  padding-left: 0.75em;
}

.featured__book {
  max-width: 58% !important;
  min-width: 40%;
  float: none;

  @include breakpoint-md {
    float: right;
  }
}

.book-links__container {
  display: flex;
  flex-direction: column;
  column-gap: 1em;
  align-items: center;
}

.pixelart-card {
  position: relative;
  display: inline-block;
  border: 2px solid var(--background-color-light);
  margin: 0 1em;
  padding: 0.65em;

  @include breakpoint-sm {
    margin: 0;
  }
}

.pixelart-image {
  max-width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s; /* Add transition for smooth effect */
  filter: brightness(1); /* Ensure the image is not darkened initially */

  &:hover {
    filter: brightness(0.6); /* Darken the image on hover */
  }
}

.pixelart-image-overlay {
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;

  .pixelart-card:hover & {
    opacity: 1;
  }

  p {
    font-variant: small-caps;
  }
}

iframe[src*="soundcloud.com"] {
  width: 100%;
}


// Design Project
/* CSS for Masonry Layout */
.masonry-container {
  column-count: 1; /* Set the number of columns */
  column-gap: 2em; /* Adjust the gap between columns */

  @include breakpoint-sm {
    column-count: 3;
  }
}

.masonry-item {
  break-inside: avoid; /* Prevent items from breaking inside columns */
  margin-bottom: 2em; /* Adjust space between items */
  width: 100%; /* Set the width of each item */
}

/* If images need to be responsive */
.masonry-item img {
  width: 100%; /* Ensure images take the full width of their container */
  height: auto; /* Maintain image aspect ratio */
}

.callout-bar {
  background-color: var(--background-color-light);
  padding: 0.2em 0;
  text-align: center;
  width: 100%;
  margin: 0 0 1em 0;

  .callout-content {
    font-size: 0.9em;
  }
}

.publisher-links {
  height: min-content;
  width: fit-content;
  margin: 0 0 auto 0;

  @include breakpoint-md {
    margin: 0 4em 0 0;
  }

  img {
    max-width: 100%;
    width: 6em;
    height: auto;
    border-radius: 0.5em;
    filter: saturate(0.82);
  }

  img:hover {
    filter: saturate(2);
  }
}

.face {
  width: 100%;
  height: auto;
  max-width: 36ch;
  margin-right: auto;
  display: block;
}

.face img {
  filter: invert(0);
  transition: filter 0.2s ease-in-out;
  height: 100%;
  width: 100%;
}


.face:hover img {
  filter: invert(0.81);
}

