* {
  margin: 0;
  padding: 0;
}

html {
  font-family: $main-font;
  font-size: 54%;
  scroll-behavior: smooth;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Text Rendering =========== */
  text-rendering: optimizeLegibility;


  @include breakpoint-sm {
    font-size: 63.5%;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2.75rem;
  height: 100vh;
  line-height: 135%;
  min-width: 300px;
  margin: 0 1em;
  transition: all 0.3s ease-in-out;

  @include breakpoint-sm {
    font-size: 2.3rem;
    margin: 0 1.6em;
  }

  @include breakpoint-lg {
    font-size: 2.55rem;
  }

  footer {
    justify-self: flex-end;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $accent-font;
  line-height: 135%;
}

a {
  color: var(--text-color);
  transition: color 400ms;

  &:hover {
    color: var(--text-color-link);
  }
}

p {
  + p {
    margin-top: 1.5rem;
  }
}

nav {
  ul {
    list-style: none;
    z-index: 20;
    display: flex;

    @include breakpoint-sm {
      padding: 0.5em 0.75em;
    }
  }
}

.nav__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
  row-gap: 0.25em;
  column-gap: 0.25em;

  @include breakpoint-sm {
    flex-direction: row;
  }
}

header {
  min-height: fit-content;
}

.nav__floating-buttons {
  position: relative;
}

main {
  flex: 0 1 100%;
  width: 100%;

  &:not(nav) {
    ul, ol {
      margin: .7em 0 .7em 1em;
    }
  }

  nav {
    span {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }

  nav ul {
    margin: .2em 0 2em 0;
  }

  @include breakpoint-md {
    margin: 1em auto;
  }
}

header,
main,
footer {
  max-width: 1440px;
}

header {
  padding: 2em 0;
}

footer {
  padding: 1em 0 4em 0;
  border-top: 1px solid var(--background-color-light);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include breakpoint-md {
    max-width: 80vw;
  }

  @include breakpoint-lg {
    max-width: 70vw;
  }
}

nav ul li, footer ul li {
  display: inline-block;
  font-weight: normal;

  + li {
    margin-left: 0.25rem;

    @include breakpoint-sm {
      margin-left: 1.2rem;
    }
  }

  &.active a {
    font-weight: 600;
    text-decoration: underline;
    color: var(--accent-color);
  }

  a {
    display: inline-block;
    max-width: fit-content;
    text-decoration: none;
    padding: 0.2em 0.4em;
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    transition: all 0.3s ease-in-out;
  }

  @include breakpoint-md {
    font-size: 1.1em;
  }
}

.accent-border-bottom {
  border-bottom: 2px solid var(--accent-color);
  width: fit-content;
}

.tester {
  transform: translate3d(0, -3px, 0);
  box-shadow: var(--shadow-lg);
  filter: saturate(1.2);
}

blockquote {
  position: relative;
  padding: 20px;
  border-left: 7px solid var(--accent-color);
  font-weight: 600;
  margin: 4rem 0;
  line-height: 1.3;
  font-size: 1.1em;

  a {
    color: var(--text-color-link);
    font-weight: 600;
  }

  cite {
    font-weight: normal;
    display: block;
    margin-top: 1em;
  }

}

.blockquote-lilac {
  border-left: 7px solid var(--text-color-link);
}

.page {
  &__header {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em;

    h1 {
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 0.25em;
      line-height: 1em;

      @include breakpoint-sm-plus {
        font-size: 3em;
      }
    }

    h2 {
      font-family: $main-font;
      font-weight: normal;
      font-size: 1em;

      @include breakpoint-sm-plus {
        font-size: 1.3em;
      }
    }

    @include breakpoint-sm {
      margin-bottom: 3em;
    }
  }

  &__content {
    margin: 0 auto;

    ul li::marker {
      color: var(--accent-color);
    }
  }
}

.max-content-width {
  max-width: 70ch;
  margin: inherit auto;
}

.theme-toggle-container {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 0.25em;
  font-size: 2em;
  display: flex;
  line-height: 69%;
  cursor: grab;

  @include breakpoint-sm {
    top: 0;
    bottom: auto;
  }
}

.snow-toggle-container {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  padding: 0.25em;
  font-size: 2.75em;
  display: flex;
  line-height: 69%;
  cursor: grab;

  @include breakpoint-sm {
    top: 0;
    bottom: auto;
    font-size: 2em;
  }
}

.theme-toggle-icon {
  height: 30px;
  width: 30px;
}

.no-click {
  pointer-events: none;
}

.no-js {
  display: none;
}

.article__body, .page__content {
  p:not(.article__preview__description) {
    font-size: 110%;
  }
}

.featured__post {
  border-left: 7px solid var(--background-color-light);
  padding-left: 1.2em;
}

.book-links__container {
  display: flex;
  flex-direction: column;
  column-gap: 1em;

  @include breakpoint-sm {
    flex-direction: row;
  }
}


// Goodreads widget

.gr_grid_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  column-gap: 1em;
  row-gap: 1em;
}

.gr_grid_book_container {
  /* customize book cover container div here */
  float: left;
  max-width: 170px;
  padding: 0.25em;
  overflow: hidden;
  margin-top: 1em;
  transition: all ease-in-out 0.3s;
  filter: saturate(0.5);

}
.gr_grid_book_container img {
  /* customize book cover image here */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  box-shadow: none;
  background: none;

}
.gr_grid_book_container:hover {
  transform: translateY(-0.5em);
  filter: saturate(1.3);
  transition: all ease-in-out 0.3s;
  box-shadow: 0 0 12px var(--text-color);

}
