@import "base";

.article, .article__title {
  margin-right: auto;

  @include breakpoint-md {
    max-width: 81ch;
  }
}

.article__preview {
  max-width: 70ch;

  &__header {
    margin-bottom: 0.25em;
    line-height: 160%;
    font-size: 1em;

    a {
      text-decoration: none;

      @extend .accent-border-bottom;
    }

    @include breakpoint-sm-plus {
      font-size: revert;
    }
  }

  p {
    + * {
      margin-top: 0.5em;
    }

    &:first-of-type:first-letter {
      font-size: inherit;
    }
  }
}

.article__list {
  list-style: lower-greek;

  @include breakpoint-sm-plus {
    max-width: 90ch;
    margin: 0 auto;
  }
}

