// Primary and Secondary CTA buttons
.button {
  padding: 0.5em 0.85em;
  border-radius: 2em;
  text-decoration: none;
  cursor: pointer;
  margin: 0.5em auto;
  transition: all 0.3s ease-in-out; // Adding transition for a smooth effect
  font-family: $accent-font;
  position: relative;
  border: 2px solid transparent;
  filter: invert(0) contrast(1);

  &:hover {
    filter: invert(1) contrast(1.35);
  }

  &--primary {
    background-color: var(--text-color);
    color: var(--background-color);
  }

  &--secondary {
    background-color: var(--background-color-light);
    color: var(--text-color);
  }

  &--tertiary {
    background-color: var(--accent-color);
    color: var(--background-color-light);
  }

  a {
    font-size: 0.7em;
  }
}

a.button {
  font-size: 0.7em;
}

.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5em;
}

