// Primary and Secondary CTA buttons
.button {
  padding: 0.5em 0.85em;
  border-radius: 2em;
  text-decoration: none;
  cursor: pointer;
  margin: 0.5em auto;
  transition: all 0.3s ease; // Adding transition for a smooth effect
  font-family: $accent-font;
  position: relative;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid var(--text-color-link);
  }

  &--primary {
    background-color: var(--text-color);
    color: var(--background-color);
  }

  &--secondary {
    background-color: var(--background-color-light);
    color: var(--text-color);
  }

  &--tertiary {
    background-color: var(--accent-color);
    color: var(--background-color-light);
  }

  a {
    font-size: 0.7em;
  }
}

a.button {
  font-size: 0.7em;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 20px 40px var(--text-color-link);
}

.button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}
