.listening-module {
  border: 2px dashed var(--background-color-light);
  border-radius: 15px;
  padding: 0.75em;
  color: var(--text-color);
  transition: all 0.2s ease-in-out;

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 1em;
    font-weight: lighter;
  }

  .song-title {
    font-weight: bold;
    margin-bottom: 0.2em;
    font-family: $accent-font;
  }

  @include breakpoint-lg {
    padding: 0.75em 3em;
  }

  .song-info {
    font-size: 80%;
    line-height: 1;

    @include breakpoint-sm {
      font-size: 100%;
    }

    p {
      margin-top: 0.25em;
    }
  }
}

.listening-module:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  filter: saturate(1.2);
  transition: all 0.2s ease-in-out;
  border: 2px dashed var(--accent-color);

  .song-title a {
    cursor: pointer;
  }

  .song-title::after {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

.song-title::after {
  content: '\2924';
  margin-left: 0.15em;
  position: absolute;
  font-size: 140%;
  opacity: 0;
  transition: all 0.3s ease;
}

.song {
  display: flex;
  align-items: center;
  margin: 0.35em 0;
}

.album-cover {
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
}

.artist-name {
  color: var(--accent-color);
}
