.logo a {
  svg {
    max-width: 54px;
    height: 54px;

    g {
      path {
        transition: all ease-in-out 0.2s;
      }
    }

    @include breakpoint-sm {
      max-width: 64px;
      height: 64px;
    }

    @include breakpoint-md {
      max-width: 84px;
      height: 84px;
    }
  }

  &.active a {
    font-weight: 600;
    text-decoration: underline;
    color: var(--accent-color);
  }
}

// logo hoverstate dropshadow
.logo a:hover {
  svg {
    g {
      path {
        fill: var(--text-color-link) !important;
        transition: all ease-in-out 0.2s;
      }
    }
  }
}

.newspaper-svg {
  width: fit-content;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

  svg {
    width: 204px;
    height: 78px;
    margin-right: auto;
  }
}

.witch-svg {
  width: fit-content;
  height: fit-content;

  svg {
    width: 215px;
    height: 350px;
    margin-right: auto;
  }
}

.svg-color {
  svg {
    g {
      path {
        fill: var(--text-color) !important;
        stroke: var(--text-color) !important;
      }
    }
  }
}

.svg-color--accent {
  svg {
    g {
      path {
        fill: var(--text-color-link) !important;
        stroke: var(--text-color-link) !important;
      }
    }
  }
}

.home-logo {
  border-radius: 10em;
  margin-right: -0.45em;
}

.flower-svg-container {
  position: relative;

  svg {
    g {
      path {
        fill: var(--text-color-link) !important;
        stroke: var(--text-color-link) !important;
      }
    }
  }
}

.flower-svg-top-right {
  rotate: 112deg;
  position: absolute;
  width: 90px; /* adjust as needed */
  height: 90px; /* adjust as needed */
}

.flower-svg-bottom-left {
  rotate: 5deg;
  position: absolute;
  width: 40px; /* adjust as needed */
  height: 50px; /* adjust as needed */
}

.flower-svg-bottom-left, .flower-svg-top-right {
  z-index: -2;
  filter: opacity(0.4);
}

.flower-svg-top-right {
  top: -1em;
  right: 5em;

  @include breakpoint-sm {
    right: 8em;
  }
}

.flower-svg-bottom-left {
  top: -2em;
  right: 2em;
  filter: saturate(0.58);

  @include breakpoint-sm {
    right: 0.5em;
  }
}
