// Style for the <pre> element containing code
pre {
  background-color: var(--background-color-light);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  overflow-x: auto;
  font-family: 'Courier New', monospace;
  line-height: 1.4;
  white-space: pre-wrap;
  filter: contrast(1.2);
}

// Style for the <code> element inside <pre>
pre code {
  display: block;
  padding: 2px 5px;
  font-size: 70%;
  color: var(--text-color);
  background-color: var(--background-color-light);
  border-radius: 5px;
}

code {
  padding: 2px 5px;
  font-size: 70%;
  color: var(--text-color);
  background-color: var(--background-color-light);
  border-radius: 5px;
  display: inline-block;
}

// Additional styles for syntax highlighting classes
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--transparent);
}

.token.punctuation {
  color: var(--text-color);
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted,
.token.selector,
.token.keyword,
.token.important {
  color: var(--accent-color);
}

.token.atrule,
.token.attr-value,
.token.string,
.token.attr-name {
  color: var(--text-color-link);
}

.token.function {
  color: var(--accent-color);
}

.token.operator,
.token.entity,
.token.url {
  color: var(--accent-color);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
