
.swatch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  background-color: var(--background-color);
  flex-direction: column;
  border: 2px dashed;
  border-radius: 1em;
  max-width: 20ch;
  row-gap: 0.25em;
  height: fit-content;
}

.color-circle {
  width: 100%;
  height: 1.5em;
  border-radius: 1em;
  border: 1px solid transparent;
}

.background-color-light-swatch {
  background-color: var(--background-color-light);
}

.text-color-swatch {
  background-color: var(--text-color);
}

.text-color-link-swatch {
  background-color: var(--text-color-link);
}

.accent-color-swatch {
  background-color: var(--accent-color);
}

.background-color-swatch {
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
}
