.thoughts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thought {
  border-radius: 0.5em;
  margin-bottom: 1.35em;
  padding: 0.65em;
  max-width: 100%;
  box-shadow: 0 0 1px 1px var(--accent-color);
  position: relative;
  width: calc(100% - 1.5em);

  @include breakpoint-sm-plus {
    width: 45ch;
  }
}

.username {
  font-weight: bold;
}

.thought-content {
  margin-top: 0.2em;
  word-wrap: break-word;
  font-size: 100% !important;
  line-height: 1.25;
}

.thought-link {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  right: 0.5em;
  top: 0.25em;
  font-size: 0.75em;
}
