$accent-font: 'Besley', serif;
$main-font: 'EB Garamond', serif;
$sans-font: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

/* Theme colors */
.default, :root {
  --background-color: #f8eaf3;
  --background-color-light: #ffd5e5;
  --text-color: #380202;
  --text-color-link: #d21687;
  --accent-color: #02734e;

  --syntax-tab-size: 2;
}

// .high-contrast {
//   --background-color: #030303;
//   --background-color-light: #002f25;
//   --text-color: #ffe45b;
//   --text-color-link: #21dab6;
//   --accent-color: #f169b7;
// }

// .low-noir {
//   --background-color: #061a30;
//   --background-color-light: #08274a;
//   --text-color: #92daf5;
//   --text-color-link: #72e381;
//   --accent-color: #f97125;
// }

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #04162a;
    --background-color-light: #032952;
    --text-color: #43acdb;
    --text-color-link: #ae961c;
    --accent-color: #c2602a;
  }

  main::before {
    filter: opacity(0.072) contrast(1.2) brightness(1.1) saturate(1.3) !important;
  }
}

//.high-contrast {
//  --background-color: #f5d6dc;
//  --background-color-light: #ee96aa;
//  --text-color: #892006;
//  --text-color-link: #205859;
//  --accent-color: #3a3ca6;
//}

//.old-default {
//  --background-color: #fcf0f8;
//  --background-color-light: #ffe0ed;
//  --text-color: #3b0606;
//  --text-color-link: #d21687;
//  --accent-color: #02734e;
//}


