---
layout: page
title: "Blog"
description: This view contains a list of all blogposts sorted from newest to oldest.
eleventyNavigation:
    key: blog
    order: 2
pagination:
  data: collections.blog
  size: 40
  alias: articles
---
{% include "./_includes/components/articleList.njk" %}

