---
layout: page.njk
templateEngineOverride: md, njk
title: The Midtown Caper - Downloads
permalink: /writing/caper/
description: You've arrived at the page for free copies of my self-published e-book
---
[See other literary projects](/works) or go back to the [writing section](/writing).

Following are the various formats available for download (versions with large fonts below). By clicking on the links, the file will download directly to your machine.
<p>Kindle users, you can email your device the .epub file. Free apps are available for reading.</p>
<p>For desktop/PC users, the PDF would be best.</p>

<a href="https://drive.google.com/file/d/1DSN7t_YFjQ9ch0fhjZJSRyFMPlEAxT30/view?usp=sharing">- EPUB</a>

<a href="https://drive.google.com/file/d/1V45-3mwszSiJ_JaRH5fIi6bvHMo-MtF-/view?usp=sharing">- PDF</a>
