---
layout: page.njk
templateEngineOverride: md, njk
title: The Midtown Caper - Downloads
permalink: /writing/caper/
description: You've arrived at the page for free copies of my self-published e-book
---

<div class="works-about">
<br/>
<p>Published May 2022. A group of criminals target a spy walking in downtown Portland. This short story chronicles his adventure for the day.</p>
<p class="bold600"><a href="https://www.goodreads.com/book/show/61141775-the-midtown-caper" target="_blank">Click to see it on Goodreads. Free download.</p>
            </div>

<div class="taglist irevamp-mx-auto">
    <a href="https://www.goodreads.com/book/show/61141775-the-midtown-caper" target="_blank">
      <img
      class="crane"
          alt="Midtown Caper"
          src="/img/june-2022/3.png"
      />
      </a>
</div>


<br/>

Following are the various formats available for download (versions with large fonts below). By clicking on the links, the file will download directly to your machine.
<p>Kindle users, you can email your device the .epub file. Free apps are available for reading.</p>
<p>For desktop/PC users, the PDF would be best.</p>

<a href="https://drive.google.com/file/d/1XUoZB-7ITVY18DP0JiaReZKyFprdzmrm/view?usp=sharing">- EPUB</a>

<a href="https://drive.google.com/file/d/183sLE5klRqKCEeneB5IElnBNddACyjEg/view?usp=sharing">- PDF</a>

> [See other literary projects](/works) or go back to the [writing section](/writing).

