---
layout: page
title: "Climbing"
description: "Up and down and up and down and up and down"
eleventyNavigation:
  key: climbing
  order: 4
tags: page
---

<div class="max-content-width ml-auto mr-auto mb-md">
<p>I began climbing at the end of October, 2021, after moving to Portland from Iowa. Having climbed for fun a few times in college, I have now let it become a primary passion, enabling me to make new friends and connections. I'm grateful for its presence in my life.</p>

<p>In the indoor climbing community, I am a beginner-intermediate grade climber. This means that I can usually climb a <a href="https://www.99boulders.com/bouldering-grades">grade V4 problem</a> indoors in one go (also known as <a href="https://www.climbernews.com/what-is-a-flash-in-climbing/">flashing a problem</a>), and maybe a grade V5 on the same day with some effort.</p>

<p>This page will serve as a collection of my thoughts and musings on the routes I climb. It will also help me make sense of the <a href="https://www.rei.com/learn/expert-advice/rock-climbing-glossary.html">fascinating lingo of the climbing community</a> I'm learning along the way.</p>

</div>

<h2 class="mb-sm max-content-width">Recent Climbs:</h2>

{% include "./_includes/components/climbsTable.njk" %}

<div class="mb-md"></div>

<h2 class="mb-sm max-content-width">Articles tagged under "climbing":</h2>

{% set taglist = collections.climbing | getFilterTagList %}
<ul class="article__list display-columns display-columns--two">
    {% for article in taglist | reverse %}
        <li class="article__item">
            <article class="article__preview">
                {% include "./_includes/macros/articleListItem.njk" %}
            </article>
        </li>
    {% endfor %}
</ul>
