---
layout: page
title: "Climbing"
description: "Up down up down up down"
eleventyNavigation:
  key: climbing
  order: 4
---

<h2 class="mb-md max-content-width">Recent Climbs:</h2>

{% include "./_includes/components/climbsTable.njk" %}

<div class="mb-lg"></div>

<h2 class="mb-md max-content-width">Articles tagged under "climbing"</h2>

{% set taglist = collections.climbing | getFilterTagList %}
<ul class="article__list display-columns display-columns--two">
    {% for article in taglist | reverse %}
        <li class="article__item">
            <article class="article__preview">
                {% include "./_includes/macros/articleListItem.njk" %}
            </article>
        </li>
    {% endfor %}
</ul>
