---
layout: page
eleventyNavigation:
    key: code
    order: 3
tags: ['nav', 'page']
templateEngineOverride: njk, md
title: Code
description: A collection of my recent projects.
---
<div class="activity-module ml-auto mr-auto slide-up-half-slow">
    <h2 style="font-family: EB Garamond">Currently:</h2>
    <div class="song">
        <img src="/assets/img/sunface.svg" alt="Album Cover" class="album-cover">
            <div class="song-info">
                <h4 class="artist-name">Located in and working on full stack projects out of West Oregon.</h4>
                <p>Unavailable for freelance projects!</p>
            </div>
    </div>
</div>

<h2 class="mb-sm mt-sm">Recent posts tagged "development":</h2>

{% set devPostList = collections.development %}
{# list all articles with the tag development #}
<ul class="article__list display-columns display-columns--two display-columns__close-gap">
    {% for article in devPostList | reverse %}<li class="article__item">
            <article class="article__preview">
                {% include "./_includes/macros/simpleArticleListItem.njk" %}
            </article>
        </li>
    {% endfor %}
</ul>

<h2 class="mb-xxs mt-sm">Recent Work Projects:</h2>

{% include "components/featuredProjectCards.njk" %}

> Check out a very basic resume: [Resume](/resume)

> Check out what I use: [Uses](/uses)


