---
layout: page.njk
title: "All Entries"
description: "Words, sentences, paragraphs, exclamations"
templateEngineOverride: md, njk
---

<div class="irevamp-section slide-up">
<ul class="irevamp-list-unstyled">
      {%- for post in collections.entry | reverse -%}
        <li class="irevamp-postlist__content">
            <a href="{{ post.url }}" class="irevamp-text">{{ post.data.title }}</a>
            <p style="margin-top: 5px" class="irevamp-lead">{{ post.data.date | postDate  }} {% if post.data.description %} • {{ post.data.description }}{% endif %}
        {% if post.data.tags %}<span> 🏷 {% for tag in post.data.tags.slice(1, 3) %}{% if tag != 'notes' %}<span>{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="irevamp-lead irevamp-ink--secondary nolink">{{ tag }}</a> </span>{% endif %}{% endfor %}{% endif %}</p>
        </li>
    </span>
      {%- endfor -%}
</ul>
</div>


<div class="irevamp-h5 irevamp-mt-md bold600">List of tags:</div>

<div class="taglist irevamp-mx-auto">
  {% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="taglist-tag">{{ tag }}</a>
{% endfor %}
  </div>

> Go [back to writing](/writing)
