---
layout: base.njk
templateEngineOverride: md, njk
---
<header class="irevamp-hero">

  <div class="irevamp-container">
    <div class="hello-container">
    <div class=" hello-text">
    <h1 class="irevamp-ink--primary salutation text-focus-in"><a title="home" class="nolink" href="/">Parth Shiralkar</a></h1>
    <div class="intro  slide-up irevamp-content-maxlength irevamp-ink--primary uppercase">author. developer. likes daal.</div>
    <p class="irevamp-mt-md">
  Most of my personal and professional time is spent doing things to <a title="secret link" class="nolink" href="https://www.youtube.com/watch?v=huHV8aW37ZM" target="_blank">
        <span class="tronafterhidden"></span></a>.
  
  </p>

 I <a href="/writing">write</a>, <a href="https://www.goodreads.com/user/year_in_books/2022/60162168" target="_blank">read</a>, <a class="" href="/art">make art</a>, and <a href="/climbing">climb</a>. There's also other <a class="" href="/about">cool stuff</a>.
  



{# > [Contact](/hello) #}{# > Check out the [styleguide](/styleguide) or the [colophon](/colophon) for this site #}</div>
<div class="hello-img">
<img class="sun-pink text-focus-in" src="/img/herofact.svg" alt="Hero Bauhaus Image">
</div>

</div>
</div>

</div>



</header>


{# <script>
      function nowPlaying() {
        var audio = document.getElementById("now-playing");
        audio.play();
      }
</script>

<input type="button" value="PLAY" onclick="nowPlaying()">
<audio id="now-playing" src="https://interactive-examples.mdn.mozilla.net/media/cc0-audio/t-rex-roar.mp3"></audio> #}
