---
layout: slim
eleventyNavigation:
  key: home
  order: 1
templateEngineOverride: njk, md
title: Parth Shiralkar
description: >
    Developer. Author. Likes daal. Loves sitting on the floor.
---

{% include "./_includes/components/nowPlaying.njk" %}

<blockquote class="blockquote-lilac slide-up mt-md">{% set weekNoteCollection = collections.weeknotes | reverse %}{% set weekNote = weekNoteCollection[0] %}<a title="Latest weeknote" class="button button--secondary" href="{{ weekNote.url | url }}">notes from last week</a>
</blockquote>
