---
layout: page.njk
templateEngineOverride: md, njk
title: Rare Objects in Strange Places
permalink: /writing/objects/
description: You've arrived at the page for the Kindle version of my first self-published e-book
---

<div class="works-about">
<p>A boy looks for hope in a mystical land. On a faraway moon, a maintenance worker learns what it means to be afraid. An assassin boards a plane to kill her last victim, but she has made what may be a fatal mistake. A man on death row lives his last day. This is a collection of short stories.</p>
<p class="bold600"><a href="https://www.amazon.com/Rare-Objects-Strange-Places-Stories-ebook/dp/B08413JJ7P" target="_blank">Click to see it on Amazon. $1.00</a></p>
            </div>

<div class="taglist irevamp-mx-auto">
    <a href="https://www.amazon.com/Rare-Objects-Strange-Places-Stories-ebook/dp/B08413JJ7P" target="_blank">
      <img
      class="crane"
          alt="Rare Objects in Strange Places"
          src="/img/june-2022/1.png"
      />
      </a>
</div>


<br/>


> [See other literary projects](/works) or go back to the [writing section](/writing).

