---
layout: slim
title: Pixel Art
permalink: /pixelart/
description: Pixels arranged in a fun and cheeky manner
eleventyNavigation:
  key: pixelart
  order: 2
tags: [footer, page]
---
{% from 'macros/pixelArtCard.njk' import pixelArtMacro %}

<div class="display-columns display-columns--three display-columns__close-gap slide-up-half-slow">
    {% for pixel in pixelArtData %}
        {{ pixelArtMacro(
            imageSrc=pixel.imageSrc,
            overlayTitle=pixel.overlayTitle,
            date=pixel.date
        ) }}{% endfor %}
</div>

<blockquote>
All content created by me.
</blockquote>
