---
layout: page
pagination:
 data: collections
 size: 1
 alias: tag
permalink: /tags/{{ tag }}/
eleventyComputed:
    title: "Tag: {{ tag }}"
---
<h4 class="mb-md">Here are all entries tagged “{{ tag }}”:</h4>
{% set taglist = collections[tag] | getFilterTagList %}
<ul class="display-columns display-columns--two article__list">
    {% for article in taglist | reverse %}
        <li class="article__item">
            <article class="article__preview">
                {% include "./_includes/macros/articleListItem.njk" %}
            </article>
        </li>
    {% endfor %}
</ul>

<article class="mt-mdp max-content-width ml-auto mr-auto slide-up-half">
    <h3 class="mb-sm">All tags:</h3>
    {% for tag in collections.categoryList | getFilterTagList | randomizeArray %}
            <a class="category mb-sm" href="/tags/{{ tag }}/" aria-label="Entries tagged with {{ tag }}">
                {{ tag }}
            </a>
    {% endfor %}
</article>

<h4 class="mt-lg">Go back to <a href="/blog/">all entries</a>.  Or visit <a href="/writing">the writing section</a>.</h4>
