---
layout: page
pagination:
 data: collections
 size: 1
 alias: tag
permalink: /tags/{{ tag }}/
eleventyComputed:
    title: "Tag: {{ tag }}"
---
<h4 class="mb-md">Here are all entries tagged “{{ tag }}”:</h4>
{% set taglist = collections[tag] | getFilterTagList %}
<ul class="display-columns display-columns--two article__list">
    {% for article in taglist | reverse %}
        <li class="article__item">
            <article class="article__preview">
                {% include "./_includes/macros/articleListItem.njk" %}
            </article>
        </li>
    {% endfor %}
</ul>

<h4 class="mt-lg">Go back to <a href="/blog/">all entries</a>.  Or visit <a href="/writing">the writing section</a>.</h4>
