---
layout: post.njk
title: "Triangle"
description: "Secret page. Welcome. This is a picture of the triangle I created in a free editor. Through a process of tedious resizing, copy and pasting, this triangle mutated into the bird icon you see everywhere on this site. On hovering, the triangle will cycle through a series of hues."
---
<img class="crane irevamp-mx-auto" src="{{ '/img/triangle.png' }}">
<button onclick="history.back()" class="irevamp-mx-auto intro-about bold600 uppercase pagenotfound-button" style="">Go back</button>
