---
layout: page
title: "Weeknotes"
permalink: /weeknotes/
tags: "footer"
eleventyNavigation:
  key: weeknotes
  order: 2
description: "What goes on..."
---
{% set articles = collections.weeknotes %}
{% include "./_includes/components/articleList.njk" %}
