---
layout: page
title: "Weeknotes"
permalink: /weeknotes/
tags: ["page"]
eleventyNavigation:
  key: weeknotes
  order: 3
description: "What goes on..."
---
{% set articles = collections.weeknotes %}
{% include "./_includes/components/articleList.njk" %}
