---
layout: page.njk
templateEngineOverride: md, njk
title: Written Works
description: Ebooks that I've written, edited, designed the covers for, and self-published. Cards are clickable.
---
<div class="works-bg slide-up">

<div class="works-item">
        <a href="https://www.goodreads.com/book/show/61141775-the-midtown-caper" target="_blank">
<img class="works-cover" src="{{ '/img/works/caper.png' }}">
<div class="works-about">
Published May 2022. A group of criminals target a spy walking in downtown Portland. This short story chronicles his adventure for the day.
<p class="bold600">Click to see it on Goodreads. Free download.</p>
            </div>
        </a>
    </div>

<div class="works-item">
        <a href="https://www.goodreads.com/book/show/59850757-axis-of-damage" target="_blank">
            <img class="works-cover" src="{{ '/img/works/damage.png' }}">
            <div class="works-about">
A private detective and his apprentice are hired to figure out the mystery behind strange, gruesome disappearances in a small Iowan town.
<p class="bold600">Click to see it on Goodreads. Free download.</p>
            </div>
        </a>
    </div>

<div class="works-item">
        <a href="https://www.amazon.com/Rare-Objects-Strange-Places-Stories-ebook/dp/B08413JJ7P" target="_blank">
            <img class="works-cover" src="{{ '/img/works/rare.png' }}">
            <div class="works-about">
A boy looks for hope in a mystical land. On a faraway moon, a maintenance worker learns what it means to be afraid. An assassin boards a plane to kill her last victim, but she has made what may be a fatal mistake. A man on death row lives his last day. This is a collection of short stories.
<p class="bold600">Click to see it on Amazon. $1.00</p>
            </div>
        </a>
    </div>


</div>
