--- layout: page.njk templateEngineOverride: md, njk title: Written Works description: Ebooks that I've written, edited, designed the covers for, and self-published. Cards are clickable. ---
<div class="works-bg slide-up">

    <div class="works-item">
        <a href="/writing/caper">
            <img class="works-cover" src="{{ '/img/june-2022/3.png' }}">
        </a>
    </div>

    <div class="works-item">
        <a href="/writing/damage">
            <img class="works-cover" src="{{ '/img/june-2022/2.png' }}">
        </a>
    </div>

    <div class="works-item">
        <a href="/writing/objects">
            <img class="works-cover" src="{{ '/img/june-2022/1.png' }}">
        </a>
    </div>

</div>