---
layout: page
title: "Writing"
description: Tomes and other such
tags: [ "nav", "page" ]
eleventyNavigation:
  key: writing
  order: 2
---
<blockquote class="blockquote-lilac"> "Stories are important. People think that stories are shaped by people. In fact,
  it's the other way around."
  <cite> - Terry Pratchett</cite>
</blockquote>
<div class="activity-module mr-auto mb-sm slide-up-half max-content-width button__container">
  <a class="button button--secondary" href="https://iowastatedaily.com/staff_name/parth-shiralkar/" target="_blank"
     title="article list page">student newspaper columns &#x2924;</a>
  <a class="button button--secondary" href="/blog/" title="blog">blog</a>
  <a class="button button--secondary" href="/works/" title="Books">books</a>
  <a class="button button--secondary" href="/weeknotes/" title="weeknotes">weeknotes</a>
</div>

<h3 class="mb-sm">This view contains a list of posts tagged "featured":</h3>
{% set taglist = collections.featured | getFilterTagList %}
<ul class="article__list display-columns display-columns--two">
  {% for article in taglist | reverse %}
    <li class="article__item">
      <article class="article__preview">
        {% include "./_includes/macros/articleListItem.njk" %}
      </article>
    </li>
  {% endfor %}
</ul>

<div class="activity-module mr-auto mt-md mb-sm slide-up-half max-content-width">

<h3 class="mb-smp">Other:</h3>
<a class="button button--secondary" href="/thoughts" title="Thoughts">thoughts and musings</a>
<p class="mt-sm"></p>
</div>
