---
layout: page
title: "Writing"
description: |
  "Stories are important. People think that stories are shaped by people. In fact, it's the other way around."
  (Terry Pratchett)
tags: [ "nav", "page" ]
eleventyNavigation:
  key: writing
  order: 2
---
<div class="activity-module ml-auto mr-auto mb-sm slide-up-half max-content-width">
  <div class="book-links__container">
    <a class="button button--secondary" href="https://iowastatedaily.com/staff_name/parth-shiralkar/" target="_blank" title="article list page">student newspaper columns &#x2924;</a>
    <div class="mt-sm mb-sm">
      <a class="button button--secondary" href="/works/" title="Books">ebooks</a>
      <a class="button button--secondary" href="/blog/" title="blog">blog</a>
    </div>
  </div>
</div>

<h3 class="mb-sm">This view contains a list of posts tagged "featured":</h3>
{% set taglist = collections.featured | getFilterTagList %}
<ul class="article__list display-columns display-columns--two">
  {% for article in taglist | reverse %}
    <li class="article__item">
      <article class="article__preview">
        {% include "./_includes/macros/articleListItem.njk" %}
      </article>
    </li>
  {% endfor %}
</ul>

<div class="activity-module ml-auto mr-auto mt-md mb-sm slide-up-half max-content-width">

<h3 class="mb-sm">Other:</h3>
<a class="button button--secondary" href="/thoughts" title="Thoughts">thoughts and musings</a>
<p class="mt-sm"></p>
</div>
